[2018-11-24 18:50] majijn opened #1 "[suggestion/request] example configurations"
I just downloaded the mod and there doesnt seem to be any explanation as to how each part of the config works, how im supposed to add mobs, multiple mobs per rank ; etc.
is there an explanation somewhere that im just missing? if there isnt, would it be possible for one to be added to the configs or to this git's wiki?

[2018-11-24 20:17] TheIllusiveC4 commented on #1
Are you talking about the `champions.cfg` file or the champions folder with the json files? The former has a description with each setting explaining what it does. The latter does not have an explanation, that's something that I'm working on.

[2018-11-27 17:38] duhadventure opened #2 "[Feature Request] Custom NPC's Support"
Would it be possible to add a tab to the CustomNPC's NPC creation tool when this is installed so that the NPCS can use these abilities?

[2018-11-27 20:44] TheIllusiveC4 commented on #2
It might be possible, but I don't think I'm going to try and implement this at the moment. CustomNPCs system is quite complex and I just don't know enough about it to even know if this is possible or not, let alone all of the overhead involved. I'm also not sure that trying to inject additional AI into their NPCs won't cause issues in itself.

[2018-11-27 20:44] #2 closed

[2018-11-28 03:54] Shadows-of-Fire opened #3 "Suggestion: Config to disable champions from spawners"
I like the concept here, but certain champion affixes are creating significant issues in mob farms, plus the enchanted book spam is less than ideal in a farm.

Being able to block champion spawns from spawners would be greatly appreciated.

[2018-11-28 04:03] TheIllusiveC4 commented on #3
Are you talking about just vanilla spawners or maybe some other methods as well?

[2018-11-28 05:20] majijn commented on #1
mostly the jsons , but in champions.cfg the name needed for mobs is their modname:mobname? or can vanilla mobs get away with just being their mobname? seems to be the case given I added "creeper"
and it seems to be working, but Ithought to ask just in case I've just been very lucky,

LOVING the mod btw, great work, makes mobs scary which is exactly the mood I wanted for my pack

I'm looking forwar

[2018-11-28 05:21] majijn commented on #3
I haven't received any champions from spawners in my testing worlds, weird.

[2018-11-28 05:36] TheIllusiveC4 commented on #1
For your specific question, it's like you suggested. You'll usually need modid:name, but you can just use the name if it's a vanilla mob and should turn out alright.

I'm definitely gonna add some explanations about all the json configurations soon.

Thanks, glad you're enjoying the mod so far.

[2018-11-28 07:19] Shadows-of-Fire commented on #3
I was mainly referring to vanilla spawners.  Changing the event from join world to SpecialSpawn (and checking if a spawner made the entity) was successfully able to block them from showing up in spawners

[2018-11-28 12:31] #3 closed

[2018-12-04 00:51] duhadventure opened #4 "Feature Request: Item to apply modifiers"
Feature Request:  Add an item that opens a gui that you can select affixes to apply to a mob, then spawns mob from list of available entities.

[2018-12-04 01:13] TheIllusiveC4 commented on #4
I'm not against this per say, but I'd like to ask what's your exact use case for such a feature? Since this is essentially granting people a spawn egg, is there some purpose in doing so?

[2018-12-04 21:10] duhadventure commented on #4
Creating bosses that I can copy with admin tools to spawn whenever I want

[2018-12-26 12:11] #4 closed

[2018-12-26 14:06] kreezxil opened #5 "1.12.2-0.9-beta crashes dedicated server with class not found exception"
http://paste.ubuntu.com/p/cxYjbBZvBt/

[2018-12-26 14:36] #5 closed

[2018-12-31 03:50] TheIllusiveC4 commented on #1
I've written up some documentation on the json configuration files. You can find them on the GitHub wiki's sidebar: https://github.com/TheIllusiveC4/Champions/wiki

[2018-12-31 03:50] #1 closed

[2019-01-02 06:57] Z-Tunic opened #6 "[Suggestion] Convert the damage taken from a Reflecting Champion into it's own Damage Source."
Reflecting Champions apparently reflects the damage taken by the damage source that was used on them. If used alongside Scaling Health which allows you to scale the damage taken, it becomes rather tricky to balance around it depending on the source.

For example... let's say I have the arrow damage source set at 5.0 and player damage source at 0.0, I toss a Tinker's Construct Shuriken at the Refle

[2019-01-03 07:21] #6 closed

[2019-01-03 15:34] Akitori opened #7 "Suggestions and questions"
I'm curious, why remove things like beacons prevent champions, champions copying reflected damage, etc?

Idk, personally i liked some of the changes (champions and beacons is great in my opinion, useful for bases/spawnpoints)

[2019-01-03 16:05] TheIllusiveC4 commented on #7
I removed the beacons preventing champions thing because it had a somewhat limited range and not really sure it was useful to anyone. It was just something I kinda added off-hand during development and never really thought about. If you like it, I can certainly add it back in.

Champions do still copy reflected damage, it's just that its name is different. For instance, if the original damage was

[2019-01-03 16:16] Akitori commented on #7
I like the beacons frankly, even in just basic concept.

Ah, i was unsure if the reflected damage was changed to something else outright.

One suggestion I would like is something to negate plague a bit. I'm pretty sure milk buckets could work, but having to drink a entire stack while fighting a zombie with a lot of health seems a bit silly.  I do however like how it sticks to you, which is cool.

[2019-01-03 16:32] TheIllusiveC4 commented on #7
Milk Buckets would definitely work, if necessary. Note that Plague has a very limited range (about 3 blocks), so the main intent is that you'd ideally be fighting from a ranged position to avoid the plague effect entirely. I feel like having a way to negate it any further would diminish its efficacy too much.

I'm up for more projectile-based affixes, but it's very tricky all things considered. Fo

[2019-01-03 16:41] Akitori commented on #7
I see. Well that explains why plague hurts me so much, i typically go into melee range for most mobs.

Hooking to all mobs would be difficult, yeah. Well, one of the few projectile abilities i would like to see is something that diminishes the attack of the player, or gives them blindness. Range is usually the most viable option to take out most mobs, so why not some projectile that makes range a

[2019-01-03 16:49] TheIllusiveC4 commented on #7
I've thought about a blindness sort of attack a lot. I was reluctant to add that in because I felt like that made attacking ranged mobs too difficult. But I didn't consider it as a projectile attack, which is an interesting option. I'll have to workshop that idea a bit more. Even if that doesn't work out, I'll try to figure out something that will primarily trouble ranged attackers.

[2019-01-04 00:37] TehSeph commented on #7
IIRC, when you spawn a mob in forge you can specify a mainhand and offhand weapon. Why not just give all spawned champions with ranged attacks a bow in their mainhand?

[2019-01-04 00:47] Akitori commented on #7
Not all projectiles use bows. Also, changing equipment on a mob with other mods present could invite some people to blame Champions.

[2019-01-04 02:43] TheIllusiveC4 commented on #7
@TehSeph Yes, actually, here you go: [https://discord.gg/JWgrdwt](https://discord.gg/JWgrdwt)

On-topic, to add to Akitori's point, it's also hard to know what might happen if you try to give certain equipment to some mobs, especially in the world of modded Minecraft. As a more superfluous reason, it might also just look silly on some mobs.

[2019-01-06 07:59] #7 closed

[2019-01-06 22:41] Xaikii opened #8 "Crash related with Lyca Mobs"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.12.2-1.0.2
* Forge: forge-14.23.5.2796

#### Observed Behavior:
A Random occuring Crash

#### Expected Behavior:
Running casually

#### Steps to Reproduce:
1. I do not even know, I didn't do anything

####Note:
I removed the Notice Parts, since I assume this is a Compat Issue with another Mod and I therefore didnt test without ever

[2019-01-06 22:50] TheIllusiveC4 commented on #8
I have some suspicions. What do you have for the config for "Silverfish on Death" in the Infested affix category?

Well regardless, definitely a bug since I should be testing for a positive integer either way. I'll have a new update out soon for that.

[2019-01-06 22:52] Xaikii commented on #8
I have set both to 0, I should have probably disabled it instead of set it to 0 when I think about it right now.

[2019-01-07 00:04] Xaikii opened #9 "Lycanite Mobs not affected by Champions' Attribute Changes"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.12.2-1.0.2
* Forge: forge-14.23.5.2796
* Lycanite's Mobs: 1.20.5.1

#### Observed Behavior:
Checked with Health, Health never changed for any Lycanite's Mobs Mob, yet did for any other Mob.

#### Expected Behavior:
Lycanite's Mobs Mob's Health being higher with a higher Tier.

#### Steps to Reproduce:
1. Put Lyca's Mobs + Champions

[2019-01-07 04:10] TheIllusiveC4 commented on #9
I did some testing and Lycanite's Mobs mobs are spawned from Champions with the correct health. However, this health somehow gets reset each tick back to its original amount. I'm not sure how Lycanite's Mobs is updating its mobs but I suspect that this is something that should be solved on their end if possible, especially since I have not received word of this being a problem with any other mob.

[2019-01-07 04:10] #9 closed

[2019-01-07 17:16] Xaikii commented on #9
ok, thanks :)

[2019-01-13 06:16] #8 closed

[2019-01-16 11:55] CREEATION opened #10 "Endless Exceptions in Client Log"
#### Versions:
* Champions: 1.0.3
* Forge: 14.23.5.2776

Not quite sure if this happened before I updated Champions to `1.0.3` from `1.0.1.1`.

[Crash Log (MultiMC generated)](https://paste.ee/p/88obO)

#### Isolated exception:
[code]

[2019-01-16 20:38] #10 closed

[2019-01-17 16:56] Xaikii commented on #9
Just wanted to update this thread, the bug was fixed by Lycanite

[2019-01-18 02:20] LukewarmYeti opened #11 "Can't get mobs to always spawn as Champions"
I can't seem to get certain mobs except vanilla mobs to **always** spawn as champions. (for this part of the config shown below).

List of mobs that will always spawn as champions
S: "Champion Mobs List"  <

#### Versions (Be specific, do not write "latest"):
* Champions: 1.0.4
* Forge: 2806

I've tried various different methods to add mobs to the list in case my formatting was wrong. I assumed it

[2019-01-18 04:04] TheIllusiveC4 commented on #11
I'll do some testing momentarily on the config list.

Note that it's intended behavior that only mobs spawned naturally or from a mob spawner will become champions. Spawn eggs will never spawn champions. This is because these use different spawning methods.

I just tested the "/championegg" command and it executed correctly. What specifically are you entering in to get the egg?

[2019-01-18 04:44] majijn opened #12 "[suggestion] beast of caerbannog"
how likely is it that we'd be able to get some rabbits to spawn as their hostile variant through this mod as champions(especially if they get named "beast of *insertplacenamehere"?

[2019-01-18 12:55] LukewarmYeti commented on #11
There's a spawn egg in JEI called "spawn champion" from your mod when you @champions.  I just added it to hand via cheat mode and tried to use it.

Ah I didn't test the /championegg command. I just realised what that champion egg is for and why it doesn't work.

So testing using the command,

- vanilla mobs work fine using /championegg skeleton 1 (for example)
- the majoirty of primitive mobs I te

[2019-01-18 23:15] TheIllusiveC4 commented on #11
Ah yeah, that explains it. You need to obtain it via command in order to give the egg the correct information, otherwise it's useless.

I'll have to test Mowzie's Mobs to see what's going on there.

You know, I never thought about the Wither and the Ender Dragon. Originally the code used a different hook so they could definitely become champions, but now I'm not sure. Probably not? I'll definitely

[2019-01-19 08:12] TheIllusiveC4 commented on #11
Alright, so I've pretty much concluded my work on this issue. Here's the results:

1. I've added in a fallback for all "unnatural" spawns, so that they can be champions too. This should round out various issues for fringe cases and also definitely includes the Wither and the Ender Dragon now. This also re-enables spawn eggs being able to spawn champions, so you can use that for further testing if

[2019-01-19 08:12] #11 closed

[2019-01-19 09:39] majijn commented on #12
unfortunate, but understandable.

[2019-01-19 14:06] LukewarmYeti commented on #11
Understood, thanks for looking at the issue for me. I appreciate how quickly you clean up bugs/issues with all your mods.

[2019-02-09 17:43] Z-Tunic opened #13 "[Suggestion] Scaling Health's difficulty affecting the likehood of a Champion to spawn as well as their tiers."
Unsure if this mod or the mod author for Scaling Health has to add in support but I figure it could be a neat idea to see if Scaling Health's Difficulty could affect the likehood of a Champion spawning as well as affecting their tiers.

For example... at 50 difficulty... champions are more likely to spawn with the possibility of being at higher tier than with 0 difficulty and if at 250 difficulty

[2019-02-10 06:49] TheIllusiveC4 commented on #13
I think support could be added from either end, but I guess the responsibility might as well fall to me since I'm already addressing this issue by writing this comment.

It should be possible but the actual implementation to get the right amount of configuration could be tricky from an end-user perspective if done haphazardly. I'll have to look into this first.

[2019-02-21 03:09] TeetoKaziim opened #14 "Suggestion: Desecrator Affix Enhancements"
As the desecrator affix currently stands, it's free damage at a fixed interval, as it seems to just spawn under the player's feet. Some things I think would make it more engaging to play against:

A visual indicator of some duration before the lingering potion of harming effect gets dropped. Maybe just like, a second, or so. Maybe a configurable number of ticks?

Configurable potion effect / magni

[2019-02-21 05:31] TheIllusiveC4 commented on #14
Hmm, there are a few ways I could go about this. I'll take your ideas into consideration and see what I can do.

[2019-02-22 00:44] Z-Tunic opened #15 "[Suggestion] Death Message when a Champion is killed."
If a champion dies... a message goes out in the chat box that mentions the champion being killed by... whatever killed them, much like how a message appears when a player/tamed mob dies. Example...

*'mob Champion'* was slain by *'player'*.

*'mob Champion'* suffocated in a wall

*'mob Champion'* was killed by wild bees. They should've used a Smoker.

*'mob Champion'* walked into a cactus whilst t

[2019-02-25 10:28] #13 closed

[2019-02-25 10:28] #14 closed

[2019-02-25 10:28] #15 closed

[2019-03-08 16:46] SirAron111 opened #16 "Big Problem with Champions and Aether Legacy Sun spirit"
Ok here is the thing if the sun spirit ever gets any champion trait especially things like infested since he has a strange ai that makes him attack infinitely but instead uses special attacks he basically summons a million silverfish or potion effects etc. You should look into this or at least make the sun spirit blacklisted mob by default XD. Just wanted to let you know.

[2019-03-09 00:37] #16 closed

[2019-03-09 00:42] TheIllusiveC4 commented on #16
I've just blacklisted it by default. Since it's a modded entity, there's not much I can do on my end if their AI is set up to attack that way.

[2019-03-09 18:03] Z-Tunic opened #17 "[1.12.2] Infested Champions with high Health will cause quite an FPS drop as they summon an army of Silverfish for any damage they take."
I don't suppose there could be a way to have the silverfish despawn after some time if they were summoned from an Infested Champion? Or put some sort of cap to how many silverfish they can spawn before they can't spawn anymore?

With the default config the "Silverfish per Attack" is set at 1 and apparently this could cause some FPS drops since the silverfish don't seem to despawn after some time,

[2019-03-09 21:54] TheIllusiveC4 commented on #17
I'll see what I can do to fix/mitigate this.

[2019-03-11 02:19] #17 closed

[2019-03-11 02:22] TheIllusiveC4 commented on #17
What I've done is limit the silverfish spawning on damage taken to only trigger when that damage is from a living entity. This should mitigate situations where they spawn uncontrollably when there's no one even attacking it (aka lava or something environmental). In addition, if that's not enough, I've added it as its own config option "Silverfish on Damage Taken" so that this value could be set se

[2019-03-17 10:52] SirAron111 opened #18 "Suggestion: Adjustable place where the Champions health bar shows up."
Many Mods add GUI additions at the top middle of the screen already.
Especially Mods that add mob health bars and things like waila and the one probe as most other Mods use the side corners like minimaps and information huds it’s kind of difficult to read the champions effects and names when they overlap with others.
Is there a way to adjust where the name plate shows up?
Like adjusting how far be

[2019-03-20 12:21] #18 closed

[2019-03-22 22:12] SirAron111 opened #19 "Suggestion: Config option to make Loot only drop when killed by a TRUE player."
This is a thing this mod really needs atm people who have some kind of mob farm that doesn’t use spwners just generate the good loot I set in the config for the mobs they should only drop their items if killed by a true player not a grinder or anything like that.

The same way that scaling health handles the drop for the extra hp crystals on true player would be good as that actually works for all

[2019-03-23 03:03] #19 closed

[2019-03-25 01:47] Shadowclaimer opened #20 "Enchant Min/Max and Treasure Enchants"
For Config-based enchants it'd be nice if we could choose Min/Max levels and Treasure Enchants instead of just using the Enchant_Randomly loot table function.

In the same vein, a durability min/max would be nice too.

[2019-03-25 04:00] TheIllusiveC4 commented on #20
I'm a little ambivalent about this, but I think I'm going to have to reject this. I never liked having the config-based loot option in the first place, but I could see the merit in having a basic structure for loot so people who just want basic drops could add those in without having to dive into loot table editing. If I start making this more advanced, it starts becoming a substandard duplicate o

[2019-03-25 04:00] #20 closed

[2019-03-25 04:04] Shadowclaimer commented on #20
That's fair and understandable. I'm trying to avoid delving into Loottweaker/Zenscript any more than I already have so figured it was worth asking.

Thank you for your time.

[2019-03-30 17:58] CREEATION opened #21 "[Suggestion] Look through glass to see champion bar & bar visibility range"
Would be neat if we could see the champion bar through glass, as it already pops up from larger distances.
(this might be out of scope, though)

Additionally, an option to configure the overall visibility range of it when you look at a champion? 🐢

//e: the visiblity range of when the champion bar pops up when looking at a champion, just to make things... clearer? 🙈

[2019-03-31 02:17] DatrixTHLK commented on #17
Hi,

Is it normal to have this many entites spawning into your game after attacking each of the silverfish within minecraft? minecraft 1.12.2 (Champions 1.0.8). (forge 14.23.5.2824)
![2019-03-30_21 36 03](https://user-images.githubusercontent.com/13172036/55283612-21fb4c00-5335-11e9-859d-d2a262d87109.png).

[2019-03-31 02:59] TheIllusiveC4 commented on #17
You'll have to be a little more specific about what's triggering the increased spawn rate. Infested is not triggered by environmental damage, so something is attacking them over and over somehow. In addition, I'll have to test this to make sure it's working right, but Infested specifically blacklists Silverfish and Endermites from spawning with the affix at all. In addition, Silverfish/Endermites

[2019-04-01 13:59] DatrixTHLK commented on #17
What I'm trying to say is that I'm the culprit. I attacked them and they spawned in not that many at first but after I attacked the silverfish more started spawning in until that happened in the picture. They never broke stone in order to spawn in though, just out of thin air. I will take a look into the config options again and see where that option is. Thanks for the info.

[2019-04-07 18:32] SirAron111 opened #22 "Champion’s abilities can crash the game when mob killers attack them or they try to attack them back"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-1.12.2-1.0.8.jar
* Forge:1.12.2 - 14.23.5.2825

#### Observed Behavior:
It seems the knockback function of the champions doesn’t go well with mob grinders if a champion spawns on cursed earth or with another method or simply walls in range of the industrial forgoing mob crusher or the draconic evolution mob grinder. Certain

[2019-04-07 20:19] TheIllusiveC4 commented on #22
Can you see if it still crashes without Rough Mobs 2? It seems to me that may be the main issue, because the Knockback affix is being triggered by the defending abilities that the mod gives to Blazes, which is outside my control. I could implement a check there, but I think it makes more sense for them to just not try to attack fake players at all.

Are there other ones that crash besides Knockbac

[2019-04-07 21:22] SirAron111 commented on #22
Thx for the fast response. The crash log was sent to me by a player on a server of my pack I to thought it must have been something regarding the strange combination of the affixes and the blaze modifier. That’s why I also reported the issue to the rough mobs author. At the same time https://minecraft.curseforge.com/projects/rough-mobs-2/issues/40

As for other affixes that crash the game there wa

[2019-04-07 21:24] SirAron111 commented on #22
Damn there really should be a way to prevent mobs from targeting or getting revenge target on machines. Last time the wizards from electroblobs caused a crash with crushers now this XD. Sry about that I find all the bugs.

[2019-04-09 20:57] SirAron111 commented on #22
https://github.com/brandon3055/Draconic-Evolution/issues/1290#issuecomment-481299531

[2019-04-09 21:44] TheIllusiveC4 commented on #22
The crash log there is still triggered by the Rough Mobs' defending behavior, so my comment is still the same as above. This needs to be fixed by the Rough Mobs developer so that they do not try to knockback instances of fake players.

[2019-04-09 21:46] TheIllusiveC4 commented on #22
Alternatively, I can implement a fix on my end if you can produce a crash log without Rough Mobs' defending behavior involved.

[2019-04-10 15:52] SirAron111 commented on #22
https://minecraft.curseforge.com/projects/rough-mobs-2/issues/40 i already noted it there as well Thought he didn’t respond jet. So all I can do for now is playing the waiting game XD until than I disabled the feature from blazes in my pack till it’s fixed.

[2019-04-14 17:23] SirAron111 opened #23 "Enhancement: Improving the specific mob function for always champion."
Is it possible to have the “is always champion function to be a bit more configurable?”

I have set it up so that for example boss mobs and certain others are always champions. This in itself works great but I have run into some limitations in my configurability options.

I set to balance the champions out a bit certain affixes to only appear on mobs with 2 or 3 starts meaning a 1 star can’t have

[2019-04-25 00:49] Jackiecrazy opened #24 "Champions Crash occasionally with Special Mobs for no discernible reason"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.0.8
* Forge: 2823

#### Observed Behavior:
No apparent cause. The crash log seems like Special Mobs was trying to replace a champion? I know I should probably take this to FatherToast...
#### Expected Behavior:
Not crashing
#### Steps to Reproduce:
1. Install Special Mobs and Champions
2. Enter a world
3. Wait a bit, cranking up mo

[2019-04-25 03:29] #21 closed

[2019-04-25 03:29] #24 closed

[2019-04-25 03:33] TheIllusiveC4 commented on #24
It looks like the capability is null at that time for some reason, which really shouldn't happen. I'm not sure what's causing that, perhaps it's a timing thing with Special Mob's replacement method. I can address the crashing at least, but there may still be further problems down the line that have yet to reveal themselves.

[2019-05-26 05:40] DrCo opened #25 "Loot Tables"
#### Observed Behavior: Champions drop increasing numbers of books

#### Expected Behavior: Champions drop items from a custom loot table

#### Steps to Reproduce:
1. I read the config file, and it is set to loot_table, because there is it was too difficult to decipher the values to set if CONFIG, format is tier;modid:name;metadata;stacksize;enchant(true/false);weight
Would this mean 4 ; creeper ;

[2019-05-26 20:09] TheIllusiveC4 commented on #25
You'll have to first decide whether you want to use CraftTweaker + LootTweaker or use the vanilla loot table system. Also note that while the vanilla loot table system does only override/replace existing loot tables, LootTweaker is not limited in this same way and can make additive edits.

[2019-06-13 18:01] Mattabase opened #26 "Cross Mod Crash with MultiMob"
* Champions: champions-1.12.2-1.0.9
* Forge: 14.23.5.2838
* MultiMob: multimob-1.0.5

#### Steps to Reproduce:
1.Be in a world
2.Let a Champion spawn
...

Crash Log: https://gist.github.com/Mattabase/c55c4f3d3bf5560bfb6436372bdbb50c

Mod Links
https://minecraft.curseforge.com/projects/champions
https://minecraft.curseforge.com/projects/multi-mob-core

[https://github.com/Daveyx0/MultiMob/issues/32

[2019-07-14 08:04] TheIllusiveC4 commented on #25
I'll be closing this since there has been no follow-up and it's currently unclear whether the OP wants to use CraftTweaker + LootTweaker or the vanilla loot table overrides. If there are still questions or concerns, reply back or join the Discord channel, the latter of which might be more appropriate for general questions like this.

[2019-07-14 08:04] #25 closed

[2019-07-14 21:34] #22 closed

[2019-07-14 21:34] #23 closed

[2019-07-14 21:34] #26 closed

[2019-07-14 21:39] TheIllusiveC4 commented on #26
I couldn't reproduce this, my testing environment worked fine with MultiMob no matter how many champions spawned. However, I've made some changes that should at least prevent this issue from happening in the future.

[2019-07-14 21:41] TheIllusiveC4 commented on #23
I've implemented both your suggestions. Specific affixes will now avoid validity checks and tier checks so they will always be present as intended. And the always champions mob list config option now has an additional optional parameter to specify tier (i.e. "minecraft:spider;2 will always make spiders tier 2").

[2019-07-15 14:38] SirAron111 opened #27 "Enhancement: Adjustable damage for the molten class."
I ran into a little problem the molten damage could it be that it uses the damage class for fire or lava vanilla mc uses? Would it be possible in the next update or so to add a config for how much damage it does when touching/gettingattacked by a molten enemy? I pumped up the damage that touching fire and lava does via the dmg classes but this seems to also affect molten mobs (well I made this eff

[2019-07-15 15:04] SirAron111 opened #28 "Suggestion: Some new champion effect ideas"
I came up with a few champion effect ideas that would be easy and fun to implement I think.

Cinder: shoots like the arctic a small slow fly projectile but on touch it gives a burn effect to the target for a few seconds like 3 or adjustable

Thrower: picks player up and throws him p in the air. (Fall dmg , annoying)

Growing: maybe not a dmg thing but it would be fun to see a mob grow in size when

[2019-07-15 16:27] TheIllusiveC4 commented on #27
How exactly are you increasing the damage? Molten doesn't use any particular damage class, it takes the original damage source and 1) gives it the magic property and 2) sets the target on fire.

[2019-07-15 16:38] SirAron111 commented on #27
I am using a mod called damage controll. This one looks for any damage that gets applied in game and sees to the dmg class connected. To give thes classes a modifier like for example:
inFire
drawn
generic
mob
basically like this
https://pastebin.com/nwF28jQT
but now that you say you use the magic property and original dmg I think I know why it must be due to the class being the normal ones as they

[2019-07-15 17:41] TheIllusiveC4 commented on #27
It doesn't attack twice, Molten doesn't add any additional attacks at all. It just changes the original damage source to have the magic property right before it hits. If I'm understanding that other mod correctly, the damage modifier should be exactly the same with/without Molten. Are you sure these numbers are actually being inflated? It could be hitting for more damage simply because of the magi

[2019-07-15 17:50] SirAron111 commented on #27
could be

[2019-08-04 02:09] Xitryne opened #29 "Mobs spawners "Roguelike Dungeons""
#### Versions (Be specific, do not write "latest"):
* Champions: champions-1.12.2-1.0.10.1.jar
* Forge: forge1.12.2-14.23.5.2838

#### Observed Behavior: The mobs champions appear in the mobs spawners mod "Roguelike Dungeons" even after putting in the config file "B:" Champions from Spawners "= false"

#### Expected Behavior: The mobs spawners of the mod "Roguelike Dungeons" are modified mobs appe

[2019-08-14 17:24] Inonedn opened #30 "[Bug] Reflecting Ghast ball against a reflecting ghast instantly kills the player"
Because Ghasts take 10000 damage from their own projectile, it applies as reflecting and does enough damage to instantly kill the player

[2019-08-20 01:00] Abo233 opened #31 "You can add a Champions mob ai?"
#### Versions (Be specific, do not write "latest"):
* Champions:
* Forge:

#### Observed Behavior:

#### Expected Behavior:

#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [gist](https://gist.github.com/).

[2019-08-20 01:13] Abo233 commented on #31
Defult: followRange :20
Describe：1.By Level Add followRange：20 for each step up
                 2.Let them can Breaking block

Because the monsters look so stupid.
I hope you 'll take it.

[2019-09-06 15:33] Miwasak opened #32 "drop file"
Add a new file for drop (like disable enchanted book, i find thats to much op for a public server)

[2019-09-07 02:10] TheIllusiveC4 commented on #32
You can already change the drops. Update the Loot Drops option in the configs, then change Loot Source to CONFIG. This will override the loot with your changes.

[2019-09-07 02:10] #32 closed

[2019-09-07 02:14] TheIllusiveC4 commented on #31
1) I might consider some sort of follow range upgrade as a general champion buff.
2) I don't really like abilities that can grief a player or upset their builds in any way.
3) The problem with having abilities tied to having other monsters around is that they become useless when they're alone and overpowered when it's crowded. There's too much variability there. In addition, summoning monsters get

[2019-09-07 02:14] #31 closed

[2019-09-25 04:04] xlea99 opened #33 ""String index out of range: 0" crash when using random names in the config."
#### Versions (Be specific, do not write "latest"):
* Champions: 1.0.10.1
* Forge: 14.23.5.2838

#### Observed Behavior:
When adding custom names to champions.cfg, the game will sometimes crash with a "java.lang.StringIndexOutOfBoundsException: String index out of range: 0". I believe this might be happening since in my config file, I use commas sometimes in the names I want to add like ", Lord of

[2019-11-04 03:30] TheIllusiveC4 commented on #29
I believe this is due to Roguelike Dungeons not implementing/respecting the Forge event `LivingSpawnEvent.SpecialSpawn` which is how Champions knows whether the spawn is from a mob spawner or not. In this case, there's not much I can do on my end and this will have to be addressed from the Roguelike Dungeons developer.

[2019-11-04 03:30] #29 closed

[2019-11-10 04:40] #27 closed

[2019-11-10 06:45] #28 closed

[2019-11-10 06:45] #30 closed

[2019-11-10 06:45] #33 closed

[2019-11-18 10:25] Z-Tunic opened #34 "[Suggestion] An Affix or two..."
Just some Affix ideas that I was thinking of. Names can change of they're not good enough.

***Affix:*** Hydra
Sorta like the 'Infested' champion in a way only this one occurs upon death. When this champion falls... it will split into more mobs of the same type. The amount can vary depending on the config values so if you want 2-5 mobs to appear after a Hydra Champion falls... set the min to 2 and

[2019-11-18 17:07] TheIllusiveC4 commented on #34
Hydra: I'm somewhat interested in this, but as it is it's just a way to artificially lengthen the fight and increase the difficulty without adding any nuance. There needs to be some sort of reaction or change in player strategy and right now the player just has to let it happen. There should be some way to perhaps avoid the Hydra champion from splitting if the player does a certain action.

Protec

[2019-11-18 21:55] Z-Tunic commented on #34
Hydra: Perhaps if the Hydra has a weakness to a damage source where if hit by said damage source it wouldn't split? Would fit in with the 'certain action' bit in a way.

Say if it was weak to 'arrow' damage source and it took damage from something that uses the 'arrow' damage source... this will disrupt the mob in a way that it won't split into more mobs.

I think if going by vanilla terms of dama

[2019-11-19 06:50] TheIllusiveC4 commented on #34
I'll likely look into adding a Hydra affix where the splitting can be prevented if the champion is on fire or dies from fire damage, with checks to make sure it doesn't end up on a mob that is fire-resistant.

[2019-11-19 06:57] Z-Tunic commented on #34
Will that apply for the Fire Resist Potion Effects if another mod were to add it onto them?

[2019-11-19 19:59] TheIllusiveC4 commented on #34
Hm, that's a good point. It'd be difficult to ascertain potion effect added after spawning.

[2019-11-30 09:29] ireece1 opened #35 "Log gets spammed with STDERRs"
* Champions: champions-1.12.2-1.0.11
* Forge: 14.23.5.2847

Something to do with rendering the champion health. This happen's every now and then

Crash Log: https://pastebin.com/jz09NMqm

[2019-12-02 15:20] Xaikii opened #36 "[Request] Config to disable HUD & Particles"
I am working on a Pack where I boost the number of Champions and force Champion Status on some mobs, I noticed the HUD is pretty much always active. I'd wish to have a config option to disable the HUD(including the Naming Feature) such as the Particles. Some Mobs can turn invis and the Particles make them visible, which pretty much destroys their Kit.

[2019-12-09 04:21] TheIllusiveC4 commented on #35
I can't reproduce this issue. It seems like it's saying that the distance between the viewing player and the champion is too large. However, I've tried with up to 100 blocks viewing distance which translates to a bounding box much much larger than the one that gave you an error and it doesn't give me anything in the logs.

Even stranger, I can't even find where it is throwing that error in the Min

[2019-12-09 04:21] #35 closed

[2019-12-09 04:30] TheIllusiveC4 commented on #36
For clarity, did you envision this as a client-side configuration option or server-side (so that players cannot re-enable them)?

[2019-12-12 11:47] Xaikii commented on #36
sry Github for some reasons the Github Mail ended up in Spam and I didnt get notified about your message.
Yes I envisioned it as client-sided. I noticed you've already implemented it and I checked it out,
is it intended that the champion effect will only be hidden AFTER the config was set true?
To clarify, Mobs spawned with Champion Effects HUD BEFORE the config is set to true will keep their Cham

[2019-12-12 15:37] TheIllusiveC4 commented on #36
Whoops, that changes some things. I'll change it a bit to be client-side, which should also fix that error with persistence.

[2019-12-24 22:14] #36 closed

[2020-01-01 13:32] Kehaan opened #37 "[Suggestion] A way to set the spawn rate"
Hello

I am usually using InfernalMobs, but dicovered this mod. And so far i like it a lot!

However, i can't find a place where i can chance how often a mob should spawn as a champion? Is that not something you can chance? Like in InfernalMobs, you can se how often a mob should spawn as a infernal x tier.

Thanks.

- Kehaan

[2020-01-11 04:26] TheIllusiveC4 commented on #37
This is possible already, it's located in `config/champions` in `ranks.json'. For more info, see here: https://github.com/TheIllusiveC4/Champions/wiki/Ranks-JSON

[2020-01-11 04:26] #37 closed

[2020-01-15 13:24] Yourname942 opened #38 "Affix + alwaysOnEntity?"
* Champions: 	champions-1.12.2-1.0.11.3.jar
* Forge: 14.23.5.2847
* Minecraft: 1.12.2

1) Is it possible to apply the affix Adaptable to every tier? I want every tier to have more than 1 affix  (ie. 1 always reserved for adaptable)

2) If I add a mob to the alwaysOnEntity array...
    a) does this make that mob a champion?
        i) If true then can you add an option to not make them considered a

[2020-01-15 13:37] #38 closed

[2020-01-16 04:13] Z-Tunic commented on #34
Got another affix idea, seeing as you have Cinder which launches orbs that sets you on fire if it hits you & Arctic which is... Ice...? It slows you down when hit so maybe it's ice

I wonder if some form of affix could be added for another element type... one that summons lightning once the orb hits you.

[2020-01-22 02:26] Xplodin opened #39 "Crashing server pretty fast, afaik its related to this mod"
#### Versions (Be specific, do not write "latest"):
* Champions:champions-1.12.2-1.0.11.3
* Forge:forge-1.12.2-14.23.5.2847-universal

#### Observed Behavior:
Crashing server instantly upon boot or player join
#### Expected Behavior:
Idk i boot up my server and its crashing with a huge error log
#### Steps to Reproduce:
1. Boot server
2. Wait
3. Crash
...

Crash Log: Please use a paste site like [

[2020-02-27 10:14] axin0452 opened #40 "Random Range in Always Spawn as Champion Config"
[code]

This section can make zombies generate 1 star, so how to make them random in 1 ~ 2?
minecraft:zombie;1~2
I don't speak English well, can you understand what I mean?

[2020-02-27 18:17] TheIllusiveC4 commented on #40
That's not currently a feature, but I can look into adding it into the next update.

[2020-02-27 18:51] axin0452 commented on #40
thank you very much
@TheIllusiveC4

[2020-03-26 09:53] jhth13rteen opened #41 "Invisible Mobs?"
#### Some mobs are invisible.
Sorry if this is already been posted, did a search for any issue with the "invisible tag" and found nothing, also checked comments at curse forge and no mention of this, so it might be a rare or weird problem.

Went to hunting Dim and a baby skeleton archer and a witch was totally invisible and it looked like I couldnt even hit them. This is with the MC Eternal Modpac

[2020-03-26 16:00] TheIllusiveC4 commented on #41
Can you reproduce this issue with only Champions loaded? Also, how do you know this is a Champions issue? Since I don't do anything with invisibility or mob rendering and it doesn't look like the mobs that killed Direwolf are champion mobs, I'm not sure where this issue points to Champions being the cause.

[2020-03-27 08:11] jhth13rteen commented on #41
I'm thinking its a mod conflict with Primitive Mobs mod. I am currently doing some testing. I know Primitive Mobs has a coremod that does some funky things re: mobs for Primitive Mobs, so I will keep checking this out and report my findings.

I did find a workaround however for whoever reads this. If you encounter untargetable invisible and otherwise immortal mobs, just log out (not completely, ju

[2020-03-27 08:16] jhth13rteen commented on #41
Okay.. After reading the Primitive Mobs Issues a bit with the "Invisible" tag, it seems this mod has lots of issues with blocks or mobs being invisible, so it has to be that mod instead. Sorry for the confusion and it didnt dawn on me it might be Primitive Mobs, the reason I thought it was this mod was because the issue didnt start happening until after I installed it, but that could just have bee

[2020-03-27 08:16] #41 closed

[2020-04-14 13:46] #39 closed

[2020-04-14 13:46] #40 closed

[2020-04-30 10:20] Darkmega18 opened #42 "Some Effect Suggestions and suggestions towards "Fairer" existing effects."
_**Trainer:**_ The mob is always accompanied by one of few companion listed mobs in the config which it summons upon finding it's target. At default it's normally a spider or wolf. While the mob is existing the trainer will always respawn this one mob with a 5 second charge up when it detects it has died. When it is respawned the trained/companion mob is buffed for a short time. As a secondary eff

[2020-04-30 19:09] TheIllusiveC4 commented on #42
I'll take these suggestions for new affixes under consideration.

As for your concerns about existing affixes:

Infested has already been revamped so that there is a configurable maximum amount that can spawn at any one time, exactly due to concerns about infinite spawns. I'll take the second suggestion about configurable mobs under consideration.

Desecrator has a configurable amount of time afte

[2020-04-30 21:25] Darkmega18 commented on #42
Alrighty, thats good, so really must have been an old video then. Would some kind of... cross compat/detection of infernal mobs be possible? Such as having each tier of champion capable of spawning with an "Infernal" modifier and depending on the tier is the number of infernal buffs which are simultaneously applied to the mob? Could be a case of simply adding into your mod the ability for the cham

[2020-05-01 00:51] TheIllusiveC4 commented on #42
I've thought about this idea before, but I wasn't too sure how best to do it. I kinda like your idea about delegating their modifiers through Champions and allowing a configurable amount of buffs to be applied. That makes the most sense to me. And I'm not the biggest fan of their modifiers so I probably won't implement a Champions version of them natively.

Technically something approaching this i

[2020-05-01 10:43] Darkmega18 commented on #42
Well, the idea would be that you'd have champions that are generated along with the world and are linked to a particular player with stats and equipment etc that are saved separately along with the world. They also have a location randomly generated with them like as if they were a structure, only it's linked to the mob only and a point in the world. **_This would probably be suited to an optional

[2020-05-03 07:51] Aeron216 opened #43 "Ranks spawning issue"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.12.2-1.0.11.5
* Forge: 2847

#### Observed Behavior:

Incorrect spawning of tier ranks on mobs added to the config under:

List of mobs that will always spawn as champions, can optionally include specific tier (i.e. 'minecraft:spider;2') or tier range (i.e. 'minecraft:spider;1;3
    S:"Champion Mobs List" <

#### Expected Behavior:

[2020-05-03 22:50] #43 closed

[2020-05-07 17:13] Alainx277 opened #44 "Plague effect removal"
The "Plagued" affix is a nice idea by itself; however, as soon as a cramped space is infected **IT WILL NEVER GO AWAY**.
All my pets have it because a enderman teleported into my base, with the plague instantly being spread from entity to entity. The effect disappears after a while, but not if animals keeping touching eachother.
I am not aware of any way of removing this effect on a large scale wi

[2020-05-07 18:46] #44 closed

[2020-05-08 06:49] EMifnick opened #45 "Plague effect infects armor stands"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-1.12.2-1.0.11.3.jar
* Forge: ForgeMultipart-1.12.2-2.6.2.83-universal.jar
NOTE: Observed in MC Eternal Lite, could not get mod to run alone to reproduce as instructed. Apologies.
#### Observed Behavior:
Plague mobs, when near two vanilla armor stands, infect them. Armor stands show no indication of being infected, but never

[2020-05-08 22:21] Alainx277 commented on #44
Thanks for the quick response! Great mod overall.

[2020-05-08 22:46] #45 closed

[2020-05-09 16:56] V-Boy commented on #45
Wow I can't believe that this was the issue the whole time lol. I would've never suspected the constant plague poisoning to be our stands

[2020-05-17 18:17] Xitryne opened #46 "Mob spawner"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.0.11.8
* Forge: 1.12.2 (14.23.5.2854)

#### Observed Behavior:
I currently have the Roguelike Dungeon mod, it shows structures with mobs spawners inside but champions mobs appear thanks to these spawners, except I deactivated the option to show champions mobs via the mobs spawners.

#### Expected Behavior:
I wish monster champions

[2020-05-17 21:00] TheIllusiveC4 commented on #46
If the option works for vanilla mob spawners but not Roguelike Dungeons spawners, then this will have to be fixed on Roguelike Dungeons's side. Likely, the way they're spawning mobs is bypassing the Forge spawn event that Champions uses to check for spawns from spawners.

[2020-05-17 21:00] #46 closed

[2020-06-03 09:03] Goatwright opened #49 "Interaction with Ice & Fire Dragons"
#### Versions (Be specific, do not write "latest"):
* **Champions:** champions-1.12.2-1.0.11.8.jar
* **Ice & Fire:** iceandfire-1.9.1-1.12.2
* **Forge:** 14.23.5.2854

#### Observed Behavior:
Attempted to add the dragons from the Ice & Fire mod to the list of mobs that'll always spawn as Champions, but I've been unsuccessful in getting any to become one. Any other mob related to the mod (cyclops,

[2020-06-03 11:19] TheIllusiveC4 commented on #49
This is because Ice and Fire does not label them as hostile mobs. Only hostile mobs can ever become champions, regardless of configs. They're labeled as tameable mobs, like wolves, ocelots, and parrots.

Unfortunately, the only two solutions for your situation that I can see are either I allow tameable mobs to be champions or Ice and Fire relabels the dragons. For the former, I don't want to make

[2020-06-03 11:19] #49 closed, assigned to TheIllusiveC4

[2020-06-16 14:59] BedrockLegends opened #50 "1.15.2 crash"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-FORGE-1.15.2-2.0-beta3.jar
* Forge: 31.2.20

#### Observed Behavior:
Single player locked up after doing /reload and then crashed to desktop
#### Expected Behavior:

#### Steps to Reproduce:
1.
2.
3.
...

Crash Log: Please use a paste site like [gist](https://gist.github.com/).

https://gist.github.com/BedrockLegends/1cd62c

[2020-06-16 18:10] TheIllusiveC4 commented on #50
Just need to make sure first, did you change the champion configs at all before you reloaded?

[2020-06-16 18:50] TheIllusiveC4 commented on #50
I cannot reproduce this behavior. Doing `/reload` doesn't cause a crash, even when I summon a Champion mob. It seems like this is occurring because your ranks are empty. Did you edit the `champions-ranks.toml` file at all?

[2020-06-16 23:29] BedrockLegends commented on #50
No I did not, I left it default

[2020-06-17 00:28] TheIllusiveC4 commented on #50
Very strange. Can you show me your `champions-ranks.toml` file? Also, does this happen every single time you do `/reload`?

[2020-06-20 08:54] mr-poyo opened #51 "[1.15.2] NBT with /champions command"
Hello,

Is there a way we could add NBT information alongside the /champions summon command?

Currently to achieve this, I summon a champion with /champions summon, then I /data merge afterwards with NBT additions.

Would be cool if we could add NBT information alongside the /champions summon and summonpos commands.

For example:
`/champions summon minecraft:zombie 2 {Team:"poyoteam",Tags:["testta

[2020-07-03 20:54] Jaeiya opened #52 "Champions config folder is not being created"
#### Versions (Be specific, do not write "latest"):
* Champions: FORGE-1.15.2-2.0-beta3
* Forge: 31.2.30

#### Observed Behavior:
No `ranks.json` file is generated, nor was a `champions` folder created in the config folder.

#### Extra Info:
I tested this with minimal mods (JEI and Controlling) to make sure it wasn't somehow a mod conflict.

#### Expected Behavior:
To see a `ranks.json` file withi

[2020-07-03 21:12] TheIllusiveC4 commented on #52
Champions has server-side configs in 1.14+, which is created by Forge in the world save's `serverconfig` folder. Please look there to find the relevant files.

[2020-07-03 21:12] #52 closed, assigned to TheIllusiveC4

[2020-07-03 21:33] Jaeiya commented on #52
Is there documentation that says this somewhere that I overlooked?

[2020-07-03 21:51] TheIllusiveC4 commented on #52
Yes, it's part of the README file included in the mod jar and on this GitHub repo.
https://github.com/TheIllusiveC4/Champions/blob/1.15.x/docs/README.md

But I did realize that I forgot to update the wiki and the CurseForge project page accordingly, so sorry about that.

[2020-07-03 22:51] Jaeiya commented on #52
No problem; I'm just happy that you're active enough to be able to address small issues like this ❤️

Thanks!

[2020-07-16 21:28] vizthex123 opened #53 "[1.12.2] Feature Request"
I love the mod, but was wondering if you could add a feature to the config of the 1.12.2 version that lets you remove the pre-made champion titles.

I use this mod in my new story-based pack and the champions are supposed to be elite members of the villain's army, so having "Drinker of Blood" and other titles/names kind of goes against that lore.

Thanks.

[2020-07-21 04:38] TheIllusiveC4 commented on #53
So, unfortunately, I won't be implementing a fully realized feature for this. This is because the 1.12.2 version is technically only in maintenance mode right now. Also, the 1.14+ port removes the naming feature entirely so it gets deprecated anyways. However, I have tried to help you out a bit and I've implemented a client-side config option that can remove the names from being rendered. That way

[2020-07-21 04:38] #53 closed, assigned to TheIllusiveC4

[2020-07-22 05:02] BedrockLegends opened #54 "[1.16.1] Crash to desktop"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-FORGE-1.16.1-2.0-beta6.jar
* Forge: 32.0.75

#### Observed Behavior:
 Logged into a single player world and crashed straight to desktop
#### Expected Behavior:
Hopefully a quick fixs
#### Steps to Reproduce:
1. installed
2. Launched
3. Joined world and crashed
...

Crash Log: Please use a paste site like [gist](https://gist

[2020-07-22 05:31] TheIllusiveC4 commented on #54
So there is an easy way for me to fix this, but there's something wrong with your environment. Do you have `champions-ranks.toml` in your world's `serverconfigs` folder?

[2020-07-22 05:36] BedrockLegends commented on #54
@TheIllusiveC4 This was on single player, I did not test on server

[2020-07-22 05:41] TheIllusiveC4 commented on #54
Single player worlds still have a `serverconfigs` folder in the world save folder. Please check there and make sure that `champions-ranks.toml` is there (along with the three other champion config files).

[2020-07-22 05:57] BedrockLegends commented on #54
@TheIllusiveC4 they are not, but I really do not want to reset my world to gen them

[2020-07-22 06:08] TheIllusiveC4 commented on #54
You don't need to reset your world, you just need to make those files yourself. Here's the thing though, your environment is not generating the configs for some reason. This is a problem, because whether or not I solve your crash issue, your world will not have the right configs because they do not exist. You will need to find out why your environment is not generating those configuration. I've te

[2020-07-22 06:10] TheIllusiveC4 commented on #50
Closing this issue as it seems to be the same problem as this one and you're the same author: https://github.com/TheIllusiveC4/Champions/issues/54

[2020-07-22 06:10] #50 closed, assigned to TheIllusiveC4

[2020-07-22 06:19] BedrockLegends commented on #54
Yes I do, But I never use them for anything

[2020-07-22 06:51] TheIllusiveC4 commented on #54
Well, I don't know why your Champions configs aren't generating then. Sorry. The best I can do is prevent the crash from happening and give you the default files that should be generating.
[champions-configs.zip](https://github.com/TheIllusiveC4/Champions/files/4958314/champions-configs.zip)

[2020-07-22 18:15] #54 closed, assigned to TheIllusiveC4

[2020-07-23 22:42] vizthex123 opened #55 "[1.12.2] Champions from mob spawners when that's disabled"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.0.11.9
* Forge: 14.23.5.2854

The option to prevent them from spawning from mob spawners is set to "false" (the default), but they're still coming from mob spawners when they aren't supposed to.

I've noticed this mainly in Roguelike Dungeons' buildings (as spawners are semi-rare otherwise), but it's really annoying.

Does the conf

[2020-07-23 23:18] TheIllusiveC4 commented on #55
Have you tested this with vanilla spawners at all? If not, then this is likely a duplicate of https://github.com/TheIllusiveC4/Champions/issues/46
You understand the config correctly. However, unless this is proven to be a problem with vanilla spawners as well, then this would need to be addressed by Roguelike Dungeons and their spawning method.

[2020-07-23 23:18] #55 closed, assigned to TheIllusiveC4

[2020-07-26 01:01] vizthex123 commented on #55
Vanilla spawners are the only ones in my modpack, but like I said it could be them naturally spawning in the dungeons (they're fairly spacious so mobs can naturally spawn)....probably what it is.

[2020-07-26 01:04] vizthex123 commented on #53
Well, I wanted to have my custom ones render instead of the default....I had hoped the 1.12.2 version was still being supported, but I guess not.

It's not a huge deal at least, just something I thought would be nice to have.

[2020-07-26 01:41] TheIllusiveC4 commented on #53
If you just wanted to replace them, can you not provide a resource pack that overrides the names? All of the names just come from the lang file.

[2020-07-26 01:50] vizthex123 commented on #53
I guess I could, I just have no idea how to do that

[2020-07-26 02:01] TheIllusiveC4 commented on #53
The Minecraft wiki pretty much has all of the info you need
https://minecraft.gamepedia.com/Resource_Pack

[2020-07-26 19:32] vizthex123 commented on #53
Well, I guess I can see if it works. Thanks.

[2020-08-09 12:38] GrzechuGrek opened #56 "[Feature request] Better Vampirism and lycanthropy affixes."
I propose two affixes:

Vampirism: This affix can be obtained by monster only during new moon, unless you use command.

Attacking mobs with this affix with any weapon normally cause reduce their HP until 2 HP(configurable). When "vampir" has 2 hp, then he cannot be killed with any other weapon but wooden weapon or tool.
This this property may be set to don't work during day(configurable).

Lycanth

[2020-08-10 04:49] vizthex123 opened #57 "[1.12.2 Feature Request] Add a way to configure and/or disable the Shielding modifier"
Title. It's annoying how I can't even configure the chance, activation, damage blocking, etc.

[2020-08-24 05:41] axin0452 opened #58 "How to change monster rewards without using LootTweaker"
https://github.com/TheIllusiveC4/Champions/wiki/(1.12)-Loot-Table-Primer
Sorry, I really didn't understand how to change the reward

[2020-08-24 06:35] TheIllusiveC4 commented on #58
If you're new to loot tables, you could consider using the config option for loot instead.

[2020-08-24 23:43] axin0452 commented on #58
@TheIllusiveC4
What is the calculation formula of monster life.In any case, I can’t calculate a value that matches the actual HP. This prevents me from accurately setting the strength of the monster.

[2020-08-25 00:20] TheIllusiveC4 commented on #58
The calculation is based off two values. One is the health growth value in champions.cfg. The other one is the growth factor in ranks.json. Then the formula is just base health * (1 + (health growth percentage * growth factor)).

[2020-09-18 09:41] #58 closed, assigned to TheIllusiveC4

[2020-09-20 19:02] Locoapples opened #59 "Affixes not working with naturally spawned bosses"
#### Versions (Be specific, do not write "latest"):
* Champions:FORGE-1.15.2-2.0-beta5.jar
* Forge: 1.15.2 (31.2.37)

#### Observed Behavior:
Neither withers nor dragons spawn properly (the survival way, and even the initial spawn in the case of the dragon.) with affixes. (im trying to force them to have them Via configs/server tomls, yes).

When force summoned as champion(/champion summon Minecra

[2020-09-20 21:27] TheIllusiveC4 commented on #59
Bosses, particularly the Ender Dragon, have some trickier logic to work with compared to normal mobs. I don't know if this is entirely 100% fixable, but I'll look into it more closely.

[2020-09-27 17:43] XxNeapTidexX opened #61 "Villagers Wont become Champions"
Hello! this is more of a suggestion than a bug or something, but im not sure if villagers are by default not allowed to become champions or if im putting them in the whitelist incorrectly. But i think it would be hilarious if we could make villagers OP. the syntax i used was minecraft:villager;1 by the way. Thank you for your time!

[2020-10-23 04:01] BugmanBugman opened #62 "Champions with Molten affix have weird visual effects"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.0.1
* Forge: 34.1.25

#### Observed Behavior:
Molten Champions will have the fire animation repeatedly flash in and out
![2020-10-22_22 56 45_2](https://user-images.githubusercontent.com/40730042/96955084-68397280-14ba-11eb-8055-66d706dbdeea.png)
![2020-10-22_22 56 45_3](https://user-images.githubusercontent.com/40730042/96955088

[2020-10-27 00:58] BugmanBugman opened #63 "Crash with the latest forge"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.0.1
* Forge: 34.1.32

#### Observed Behavior:
Title, crashes on startup
#### Steps to Reproduce:
Launch with latest forge and champions
...

Crash Log: https://hatebin.com/qoakqhaqyq

[2020-10-27 01:32] BugmanBugman commented on #63
I found the issue. This crash was caused by other mods (mainly structure and biome ones) that are still incompatible with the latest forge

[2020-10-27 01:32] #63 closed, assigned to nobody

[2020-11-15 02:59] OnlyCrimson opened #65 "No Drops?"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.16.3-2.0.0.1
* Forge: 1.16.3 34.1.42

#### Observed Behavior: The champions are spawning in like normal, but when I kill them, they don't drop anything, including experience. This mod has worked for me in the past but it suddenly did this today.

#### Expected Behavior: To drop the enchanted books and xp.

#### Steps to Reproduce:

[2020-11-15 06:06] OnlyCrimson commented on #65
I'm pretty sure I found the issue; the champions don't drop anything when I kill them in one hit.

[2020-11-16 07:54] nodvick opened #66 "[Feature Request] new 'Punishing' affix"
When a punishing monster deals damage, it treats your armor level as 21-[your actual armor level]
so if you have no armor on, it treats you like you are wearing full diamond+1, but wearing full diamond is essentially being naked.

may need some deliberation on if it can go into the negatives for bonus damage or not, since modded armor often exceeds the armor stat of diamond.

[2020-11-24 12:44] danielmartin0 opened #67 "[Feature Request] Simple option for champions to drop zero loot?"
Self-explanatory — unless there's already a simple way that doesn't involve installing other mods.

[2020-11-24 22:52] #67 closed, assigned to nobody

[2021-01-05 15:29] WeedTasteGood opened #69 "Forge loading crash due to unknown reasons"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.0.1
* Forge: 35.1.28

#### Observed Behavior: Crash

#### Expected Behavior: Don't crash

#### Steps to Reproduce:
1. Open the game
2. Sometimes there might be a crash due to unknown reasons
3.
...

Crash Log: ---- Minecraft Crash Report ----
// Don't be sad, have a hug! <3

Time: 1/5/21 11:25 PM
Description: Mod loading error ha

[2021-01-06 02:54] WenXin20 commented on #69
Hello, I've also seen this crash, although it is pretty rare: https://gist.github.com/WenXin20/e0635412d3d15d0010e9e4508485af80

[2021-01-06 02:59] WeedTasteGood commented on #69
Yeah it occurs rarely but it is very annoying because my modpack takes 3 minutes to load XD

[2021-01-06 05:40] #62 closed, assigned to nobody

[2021-01-06 05:40] #69 closed, assigned to TheIllusiveC4

[2021-01-06 05:42] TheIllusiveC4 commented on #69
The nature of this issue means it is difficult to reproduce and find a reliable solution; however, I've attempted a fix in version 2.0.0.2. Please try it out and see if that resolves the issue.

[2021-01-12 04:23] ly943030208 opened #70 "Crash when entering the world after changing the lootconfig"
Hello,I am a Chinese and communicate with you with the help of translation software.
Champions: 1.16.4-2.0.0.2
Forge: 1.16.3 35.1.32
I  changed the lootcofig.The relevant code:
#Set the source of champion mob drops
	#Allowed Values: CONFIG, LOOT_TABLE, CONFIG_AND_LOOT_TABLE
	lootSource = "CONFIG_AND_LOOT_TABLE"
	#Set to true to allow fake players to generate champion loot
	fakeLoot = true
	#List o

[2021-01-12 04:26] ly943030208 commented on #70
Sorry,forge vesion is 1.16.4 35.1.32

[2021-01-12 05:04] TheIllusiveC4 commented on #70
Hello, I cannot speak Chinese so I will also use translation software to communicate with you.

I believe your problem comes from `lootDrops = [1;minecraft:diamond;1;false;1]`.

There should be quotation marks around each value.

`lootDrops = ["1;minecraft:diamond;1;false;1"]`

If this doesn't solve your issue, please share the crash report with me.

您好，我不会说中文，因此我还将使用翻译软件与您交流。

我相信您的问题来自`lootDrops

[2021-01-12 05:04] #70 closed, assigned to TheIllusiveC4

[2021-01-12 05:27] ly943030208 commented on #70
Thanks a lot!

[2021-01-22 07:00] TheIllusiveC4 commented on #61
Villagers are not considered valid champion mobs, since they are considered passive. I may change my mind at some point, but currently I do not have any plans to change that behavior.

[2021-01-22 07:00] #61 closed, assigned to TheIllusiveC4

[2021-01-23 01:19] TheIllusiveC4 commented on #65
I cannot reproduce this issue. Killing Champions in a single hit drops as expected. Have you replicated this issue with only Champions installed? Otherwise, it could be a mod conflict.

[2021-01-23 14:46] Erycus commented on #25
Hello.  I really enjoy your mod and it's great for adding balance to modded servers.  I don't want to open a new 'issue' as there's nothing wrong, but I'm not sure how otherwise to ask about the config options and loot tables.

Could you tell if the table in champions.config supports NBT data or not?
If not I guess then I need to read through Loot Tweaker's docs.

[2021-01-23 21:57] TheIllusiveC4 commented on #25
It supports whatever loot tables normally support, I don't know if that includes NBT data. If you can do it for a vanilla entity loot table, you can do it for the Champions loot table.

[2021-01-24 10:00] Erycus commented on #25
Ok, thank you!  What I personally ended up doing was editing the champion_loot.json file in champions-1.12.2-1.0.11.8.jar\assets\champions\loot_tables\ and then deleting the META-INF folder in the jar.

I just wanted to change the drops server-side of a standard modpack and ended up doing it that way.

For others who might end up coming across here:
How I chose to modify the json is here: https://

[2021-01-28 14:54] Yourname942 opened #71 "Server Crash on Startup"
#### Versions (Be specific, do not write "latest"):
*Champions: 2.0.1.1
* Forge: 35.1.37
* Minecraft 1.16.4

#### Observed Behavior:
The server crashes and fails to load up completely on startup

#### Expected Behavior:
The server boots up and finishes loading up
#### Steps to Reproduce:
1. update champions from 2.0.1.0 to 2.0.1.1
2. delete champions configs and folders
3. launch the server
...

C

[2021-01-28 16:59] #71 closed, assigned to TheIllusiveC4

[2021-02-22 22:55] 0mnidroid opened #72 "[Feature Request]"

[2021-02-22 22:56] #72 closed, assigned to nobody

[2021-02-22 23:11] 0mnidroid opened #73 "[Feature Requests] Loot Bags + Other Requests"
**Loot Bags**

Find a way to compress all the loot that champions drop into a chest or loot bag, too many items dropping at once can cause some lag.

**Spawn Indicators**

Add a beacon light that extends towards the sky whenever a champion spawns, and/or a cool sound effect that indicates one has spawned nearby.

**Configurations**

- Configurations for the "Shielding" affix, how long it lasts and

[2021-02-24 07:57] linx80 opened #74 "Server error when logging in as operator"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.16.5-2.0.1.3
* Forge: 1.16.5-36.0.42

#### Observed Behavior:
When an server operator logs into server, this error message appears in console.
[08:42:11] [Netty Epoll Server IO #3/ERROR] [minecraft/ArgumentTypes]: Could not serialize top.theillusivec4.champions.server.command.AffixArgument@3bc07b6d (class top.theillusivec4.champion

[2021-02-24 08:18] TheIllusiveC4 commented on #74
This isn't anything to worry about, so don't mind it.

But I'll leave this open because I might as well try and figure out how to stop this error log in the first place.

[2021-03-04 16:53] Lystraeus opened #75 "Setting chance = 0 in ranks config causes a crash"
Champions: 2.0.1.4
Forge: 36.0.45

Seems to be interpreting 0 as an integer, rather than a double. As a stop-gap the wiki could say any double from 0.0 to 1.0

[2021-03-04 16:57] Lystraeus opened #76 "Change default rank config to chance = 0.0 for tiers higher than 1 [QoL Suggestion]"
This is aimed at DIY users. Skips the surprise of that one-shotting skeleton ending a hardcore run (RIP)

[2021-03-04 22:51] TheIllusiveC4 commented on #75
The wiki has been updated to reflect that the number must be a decimal number between 0.0 to 1.0.

[2021-03-04 22:51] #75 closed, assigned to TheIllusiveC4

[2021-03-04 22:56] TheIllusiveC4 commented on #76
This seems a bit like a quality of life deterioration to me. The default rank config is set up with initial settings so that most users can simply add Champions into their environment without any configuration. Changing the default chance for tiers higher than 1 would force every user to go into the configuration to activate higher tiers, which is one of the core aspects of the mod. And it doesn't

[2021-03-04 22:56] #76 closed, assigned to TheIllusiveC4

[2021-03-13 22:58] TaylorAR98 opened #77 "Game crashes with latest version (2.0.1.4)"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.4
* Forge: 1.16.4

#### Observed Behavior:
Game crashes before reaching the menu

#### Expected Behavior:
Game doesn't crash

#### Steps to Reproduce:
1. Load the game
...

Crash Log: https://gist.github.com/Javalizard98/cf56aba828983039467760d3f4bd03eb

[2021-03-13 23:00] TaylorAR98 commented on #77
Disregard this, I figured out it was incorrect hex code formatting.

[2021-03-13 23:00] #77 closed, assigned to nobody

[2021-03-17 22:03] Wedge1453 opened #78 "crash on world join"
[crash-2021-03-17_21.54.57-server.txt](https://github.com/TheIllusiveC4/Champions/files/6159986/crash-2021-03-17_21.54.57-server.txt)

[2021-03-18 03:52] TheIllusiveC4 commented on #78
Alright so this is a simple fix, but this isn't something that should be happening in the first place. This seems to indicate that your ranks configuration is completely empty or missing, which is not expected behavior.

[2021-03-18 04:09] #78 closed, assigned to TheIllusiveC4

[2021-05-01 13:03] Ritzumi opened #79 "[Feature Requests] Allow existed loot tables to be injected into champion loot"
**Description of the requested features**
Allow existed loot_tables (such as shipwreck, ruined_portal or moded loot_tables) to be used in addition to configured champion loot tables.

**Describe why you want this. If there's a reason.**
While modpack compilers can manually modify the drop of the champion loot, it become quite frustrated and time-consuming when there are a lot of mods. Also, some m

[2021-05-02 19:32] TheIllusiveC4 commented on #79
Are you suggesting something like a config option `additionalLootTables = []` where you can add the resource location of the specified loot tables?

[2021-05-06 14:20] Ritzumi commented on #79
Yes, exactly!

[2021-05-12 16:33] TheZetifate1745 opened #80 "Can't figure out how to set 1.16.5 config loot drops"
I can't figure out how to use config loot drops. In the config it shows #Format: [tier];[modid:name];[amount];[enchant(true/false)];[weight].  I tried that then tried other ways to do it. I also don't know how to set multiple different items and for different tiers of champions. Also how much does loot scaling scale it by per tier and if enchant is true will it put something like efficiency on a s

[2021-05-12 18:58] TheIllusiveC4 commented on #80
You need to share what you tried, otherwise I don't know what you've done already or what you did wrong.

Loot Scaling gives the same number of drops as the tier. So tier 1 will drop 1, tier 2 will drop 2, and so on.

If enchant is true, it just randomly enchants using the same logic as vanilla for enchanting items. It wouldn't put Efficiency on a sword because that's not a valid enchantment combi

[2021-05-12 20:34] TheZetifate1745 commented on #80
I tried
[1];[minecraft:iron_nugget];[1];[enchant(true)];[1]
[1;minecraft:iron_nugget;1;enchant(true);1]
I also tried those two with "minecraft:iron_nugget" and enchant:true and just true in the enchant part. Could you give an example of a working loot config for two items.

[2021-05-13 03:18] TheIllusiveC4 commented on #80
Example of two items:
[code]

[2021-05-15 08:04] #74 closed, assigned to TheIllusiveC4

[2021-05-15 17:55] Schummel-8 opened #81 "scaling health update causes issues with the integration"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.6
* Forge: 36.1.17

#### Observed Behavior:
Having the champions mod and the newest scaling health version (4.1.0+6) the game freezes/crashes upon creating a new world. After asking the dev of scaling health there are some class changes that the champions mod have to update in its code for the integration to work properly.
####

[2021-05-16 00:24] #81 closed, assigned to TheIllusiveC4

[2021-05-18 05:19] Foozey opened #82 "Champions health bars aren't affected by mods that move boss bars."
Example Mods:
https://www.curseforge.com/minecraft/mc-mods/advanced-compass
https://www.curseforge.com/minecraft/mc-mods/hud-compass

[2021-05-21 15:41] BugmanBugman opened #83 "Crash upon starting the world out of no where"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.7

* Forge: 36.1.23

#### Observed Behavior:

Right when creating my hardcore world and joining it, the game crashed and kicked me out. No idea why, so right now i'm unable to reproduce it. Just wanted to report the crash log to you

Crash Log: Please use a paste site like [gist](https://gist.github.com/).
[crash-2021-05-21_10.

[2021-05-21 21:37] TheIllusiveC4 commented on #83
I am unable to reproduce this, so I'm not sure what the cause could be. I can add some safeguards but its helpfulness is limited without knowledge of the source of the issue.

Did you modify the configs in any way?

[2021-05-22 00:15] BugmanBugman commented on #83
No not at all. It was all default configs

[2021-05-25 07:17] Jackiecrazy opened #84 "Random crash on world load"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.7
* Forge: 36.1.16

#### Observed Behavior:
When creating a new world with a custom datapack, it may randomly crash. The game does not exit, but the world will be stuck on "generating world". Killing the game and reopening it will allow loading of the world without issue.
#### Expected Behavior:
The game should not crash.
####

[2021-06-01 07:31] Mr-Syntax opened #85 "Colds: steel Mod incompatiblity"
Im running forge 36.1.10 and minecraft 1.16.5

[09:28:55] [Server thread/ERROR]: Exception caught during firing event: top.theillusivec4.champions.common.entity.EnkindlingBulletEntity cannot be cast to net.minecraft.entity.LivingEntity
	Index: 3
	Listeners:
		0: HIGHEST
		1: ASM: class com.github.clevernucleus.playerex.init.EventHandler onLivingHurt(Lnet/minecraftforge/event/entity/living/LivingHu

[2021-06-01 14:16] TheIllusiveC4 commented on #85
This is on the Colds: Steel mod's end and I believe they've fixed it already.

[2021-06-01 14:16] #85 closed, assigned to TheIllusiveC4

[2021-06-01 23:22] Mr-Syntax commented on #85
he did :) but thanks for the reply

[2021-06-21 20:14] Winesage opened #86 "crashing after changing champions-ranks.toml"
Versions
* Champions: 2.0.1.7
* Forge: 36.1.31

Observed Behavior:
I have a custom modpack and the game crashes when I make a new world if not it crashes after I walk around for a bit. I have changed the rank config to make all new spawns rank 1. Might be another mod's mob being a champion thus causing the crash if it could happen I don't know much about these stuff. The game seems to be working f

[2021-06-21 20:17] TheIllusiveC4 commented on #86
Can I see your `champions-ranks.toml` file?

[2021-06-21 20:22] Winesage commented on #86
so I tried both with tier 0 and without tier 0
https://gist.github.com/Winesage/2e437f92716a48d0b8f28d68885e50bc

[2021-06-21 20:24] TheIllusiveC4 commented on #86
So if you have it with tier 0, and then set tier 1 to `chance = 1.0`, this crash still occurs right?

[2021-06-21 20:25] Winesage commented on #86
yes

[2021-06-21 20:29] TheIllusiveC4 commented on #86
Okay, one more thing. Does this crash still occur if you do the same thing with _only_ Champions installed?

[2021-06-21 20:30] Winesage commented on #86
I can try it right now if you give me a few minutes

[2021-06-21 20:37] Winesage commented on #86
Didn't crash yet I tried with rank 0 and without rank 0 again.

[2021-06-22 02:01] TheIllusiveC4 commented on #86
Then unfortunately it sounds like it could be a mod conflict, and I can't tell which one just from the crash log.

[2021-06-22 05:36] Winesage commented on #86
I will see if I can test it 1 by 1 with each mod that has a custom mob in it.

[2021-06-27 21:25] XxNeapTidexX opened #87 "[Enhancement] Add a DataPack Download File 1.16.5"
Hello! I was wondering if you could add a separate DataPack Download for the Champions Mod. I cannot for the life of me get a DataPack to work with your mod. I have one working with Scaling Health and just want to be able to add Names to the added ranks I added. Or have the server/entity/ranks config update itself every time I edit them instead of me having to delete the files in the world save fo

[2021-06-27 22:12] TheIllusiveC4 commented on #87
I'm not really sure what you're referring to. Champions doesn't really use data packs in any way other than for its loot table. Names are defined by _resource packs_. Do you mean those instead?

Also, you shouldn't be deleting the files in the world save folder. Those are the config files you should be editing.

[2021-06-28 09:00] XxNeapTidexX commented on #87
Then yea, I guess I mean Resource Packs. As for the configs. I'm making a Modpack and every update I push out for the pack doesn't override the world save configs for champions. As in, someone on version 1.0.0 of my modpack will not get their champions config overridden in their world saves unless they delete the configs and reload up the world. So if they update to a newer version of my pack then

[2021-06-28 19:06] TheIllusiveC4 commented on #87
So what are you asking for exactly? Because there's nothing I could add as a separate resource pack. All of the default names are included in the default Champions resource pack, any additional names have to be added in your own custom resource pack.

Also, for configs, that's just how server configs work. Imagine if somebody had adjusted the configurations of your modpack for their server/world a

[2021-07-04 12:47] Xablauzero opened #88 "Champions title names aren't changing"
#### Notice
The champions Ranks Name aren't loading when i'm using my resourcepack. Stills the default names and rank.champions.title.5 at Rank 5, i tried everything but didn't seemed to work.

#### Versions:
* Champions: 2.0.1.7
* Forge: 36.1.23

#### Observed Behavior:
The champions mobs still have the default rank names.

#### Expected Behavior:
Rank names should be changed.

#### Steps to Repr

[2021-07-05 04:36] TheIllusiveC4 commented on #88
A few issues:

1) I'm not sure what you mean by `maps` folder. Resource packs should go into the `resourcepacks` folder.
2) The namespace should be `champions`, not `minecraft`.
3) The lang file should be named `en_us.json`, not `en_US.json` (not sure if this matters but it's something to note).
4) The format of your files do not adhere to json structure. See [here](https://github.com/TheIllusiveC

[2021-07-05 04:36] #88 closed, assigned to TheIllusiveC4

[2021-07-07 15:09] Xablauzero commented on #88
Oh sorry, really sorry! I didn't know that the champions mod uses an different method at the language file. Also, about the maps part, if you just add a .zip called resources in an maps folder, will automatically loads at the top of all other resources, so that's why i made it at the maps folder.

Btw, really thanks for all the help, i really appreciate then!

[2021-07-07 18:25] Darkmega18 opened #89 "[1.16.5] Please let me edit the durations and effects of shielding. It is the the worst ability currently. :<."
Stuff like:

shielding cooldown
shielding duration
Shielding invulnerable yes or no. (if not invulnerable they're just incredibly resistant, so they can still be knocked back or kept away/CC'd/disabled in other ways. not just completely unassailable.)

Also, it could be neat to look into a similar special effect for shielding being similar to the orbiting shields that the "relics" mod uses for it'

[2021-07-11 04:03] XxNeapTidexX commented on #87
Alright, I see your point for sure. But let me ask for a different change then. I probably missed this in the documentation but could you add a way to allow a array of mobs per entry to be cast. rather than each individual mob? Or even whitelist an entire mod to always spawn a certain rank. And if that is already a option then could you update the entities portion of your wiki to display how to do

[2021-07-16 21:04] NixityNull opened #90 "changing attributes config breaks world creation"
for me, setting the plagued attribute to whitelist and adding mob ids (ex: [minecraft:zombie, minecraft:husk]) causes the game to lag intensely and refuse to load worlds.

I am using 1.16.5 and there are no mods that are causing incompatibility issues

[2021-07-16 21:11] NixityNull commented on #90
scratch that, changing anything in the defaultconfig file makes it refuse to run

[2021-07-16 22:34] TheIllusiveC4 commented on #90
Share your config file that refuses to load. It's likely a config syntax error.

[2021-07-22 08:05] GeorgeOrwell1 opened #91 "[Suggestion] Make mob-drops only drop if killed by player"
This would balance the mod as there wouldn't lay OP enchanted books everywhere every time a mob dies because of for example daylight.

[2021-07-22 16:34] lynnpye commented on #84
For what it's worth, I've also been experiencing this with a modpack I've been playing with. I had been using the latest version of Champions (2.0.1.7). Reverting back to 2.0.1.5 allowed me to do a re-create on the same original "stuck" world but it actually let me join the game. I'm trying to work out what all isn't playing nicely together as well, but thought this info might help.

EDIT: FWIW, r

[2021-07-22 20:53] TheIllusiveC4 commented on #91
This is already the behavior. As you can see in the [loot table](https://github.com/TheIllusiveC4/Champions/blob/1.16.x/src/main/resources/data/champions/loot_tables/champion_loot.json), the drops only occur if killed by a player.

[2021-07-22 20:53] #91 closed, assigned to TheIllusiveC4

[2021-09-14 11:24] InteJason opened #92 "Exception ticking world crash"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.7
* Forge: 36.2.2

Crash when walking to a specific area, the crash report mentions the champions mod.
https://pastebin.com/n19juW4j

[2021-09-14 19:54] TheIllusiveC4 commented on #92
Hmm, it seems like the config didn't load correctly. Did you recently change anything about the configs before that happened? Or changed it at all?

[2021-09-15 14:22] cebehs commented on #92
No, the config was never changed or modified in anyway. Although I would like to point out that this error is specific to the modpack: Mineshafts & Monsters Version 1.6.2. As I'm playing a different modpack with similar set of mods, and everything runs perfectly fine.

[2021-10-03 20:29] Boolyman opened #93 "Armor Penetration Affix"
As someone who makes packs that are usually combat intense, I understand how extremely important Armor Penetration is to making end-game mobs challenging.  Armor Penetration is the only way to actually pose a threat to a player who has full Diamond Protection IV and resistance, or modded armors.  May I suggest making Armor penetration it's own affix?  Maybe beefing it up a little bit?  I think it

[2021-10-04 16:29] Boolyman commented on #51
This would be nice.

[2021-10-15 15:34] AdrianRB9 opened #94 "Increase spawn"
How do I have to modify the file "champions-ranks.toml" to increase the number of spawns of these enemies?

[2021-10-15 20:09] TheIllusiveC4 commented on #94
Increase the `chance` value for the `tier = 1` rank.
https://github.com/TheIllusiveC4/Champions/wiki/Ranks-Configuration#chance

[2021-10-15 20:09] #94 closed, assigned to TheIllusiveC4

[2021-11-02 21:07] axin0452 opened #95 "Can you increase the control of blood strips"
For example, in the application of the twilight forest, this mod has its own boss blood bar, so the champion's blood bar will only be displayed when pointing to the monster. Can you add a control to make the blood bar of nearby champion monsters continuously display to shield the boss blood bars of other mods, and then give priority to displaying the monster when pointing to a champion monster, Th

[2021-11-08 19:00] Romoslayer opened #96 "Bug that occurs between the "Hud Compass" and "Champions mods""
Mods that make the bug happen: Hud Compass & Champions
* Champions: 1.16.5-2.0.1.7
* Forge: 1.16.5-36.2.0

#### Observed Behavior:
Bug that happens when you render or stay near a mob that is affected by the Champions mod basically makes your player model, chests, dropped items, and all mobs turn invisible. (they are not deleted, I can still hear mob noises, access chests, and pick up dropped items

[2021-11-10 00:16] TheIllusiveC4 commented on #95
Sorry, I don't fully understand. Would you mind explaining a bit more? Are you asking for an option so that the Champion health bars be displayed all the time?

Currently, health bars should only display when pointing at a Champion monster.

[2021-11-10 00:59] #80 closed, assigned to TheIllusiveC4

[2021-11-10 01:28] #96 closed, assigned to TheIllusiveC4

[2021-11-10 01:28] #83 closed, assigned to TheIllusiveC4

[2021-11-10 01:28] #84 closed, assigned to TheIllusiveC4

[2021-11-10 01:28] #92 closed, assigned to TheIllusiveC4

[2021-11-10 01:31] TheIllusiveC4 commented on #82
This should be addressed in the latest 2.0.1.8 version as a part of https://github.com/TheIllusiveC4/Champions/issues/96; however, I believe Advanced Compass needs an update for this as well on their end to check for any canceled render events.

[2021-11-10 01:31] #82 closed, assigned to TheIllusiveC4

[2021-11-11 23:55] nirakoji opened #97 "[Feature Request] Champions Advancements"
I'm completing my modpack and in doing so, I'm wrapping up a "challenges" section via FTB Quests.

I would love to have specific challenges for killing champions: T1-4, and different affixes, for example. It would make my crew have more reason to find and kill Champions, and would enable me to give them juicy rewards for that. At the moment, I don't know any other way to easily make that happen.

[2021-11-12 03:48] axin0452 commented on #95
@TheIllusiveC4
What you said seems to be my idea,I know that at present, the health bar is displayed when pointing to the champion monster. I want it to be displayed continuously to cover the original and other health bars in mod. In this way, the health bar of the champion monster will make people look more intuitive and convenient, rather than switching back and forth in the style of the health

[2021-11-18 14:52] reddvilzz opened #98 "Mob Crusher from Industrial Foregoing Crash-Report"
* Champions: 1.0.11.10
* Forge: 14.23.5.2854

#### Observed Behavior:
Mob Crusher from Industrial Foregoing seems to be reverted back to default, I can't tell the exact moment it happens, but I got this sometimes, not frequent. What happened is the console with show the crash without actually crashing the game. Every time the crash report showed up it reverted the range addon from industrial foreg

[2021-12-04 18:56] LordM4x opened #99 "How do I make modded mobs able to spawn as champions?"
Question above.

[2021-12-04 22:57] TheIllusiveC4 commented on #99
Modded mobs automatically spawn as Champions if they're compatible.

[2021-12-04 22:57] #99 closed, assigned to TheIllusiveC4

[2021-12-23 22:12] Jackiecrazy opened #101 "Crash on attacking a reflective champion, need help deciphering crash report"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.8
* Forge: 36.2.22

#### Observed Behavior:
I am entirely uncertain why this happens. It doesn't happen on another world which is nearly identical. Reverting the mods that changed between the two worlds did not fix it, neither did updating (or downgrading) the graphics driver and changing java/forge versions. I did perform a fu

[2021-12-23 23:54] TheIllusiveC4 commented on #101
I've never seen this error before, and Champions is not in the stacktrace nor does it happen in isolation as you stated so I'm closing this issue in the context of being part of the issue tracker for this repository.

As far as helping you read the report, I did some brief research around to see if I could figure out anything helpful. The most that I can tell is that it has to do with classloading

[2021-12-23 23:54] #101 closed, assigned to nobody

[2021-12-27 01:29] JetpackRescue opened #102 "Constantly getting "stack underflow" error in chat whenever I look at an elite mob"
using bsl shaders on Forge
1.16.5

OpenGL error: 1284 (Stack Underflow)

[2022-01-04 23:30] Romoslayer opened #103 "Champions mod preventing me from leaving the generating world screen."
Whenever I try to generate a new world I get stuck in the generating new world screen and I am unable to get past that even after waiting for multiple minutes. I posted my logs file into the CF support server and it was said that the champion mod "is doing bad java code". I tried generating a new world with the champions mod removed and I was able to generate a world.

Mod Version - champions-forg

[2022-01-04 23:37] TheIllusiveC4 commented on #103
Did you change your configs at all? Can you share your `champions-ranks.toml` server config file?

[2022-01-05 00:23] Romoslayer commented on #103
#List of ranks
[[ranks]]
	tier = 0
	numAffixes = 0
	defaultColor = 16777215
	chance = 1.0
	growthFactor = 0
	effects = []
	presetAffixes = []

[[ranks]]
	tier = 1
	numAffixes = 1
	defaultColor = 16776960
	chance = 0.07
	growthFactor = 0.3
	effects = []
	presetAffixes = []

[[ranks]]
	tier = 2
	numAffixes = 2
	defaultColor = 16750848
	chance = 0.05
	growthFactor = 0.7
	effects = []
	presetAffixes =

[2022-01-20 01:21] JuJuicylene opened #104 "GUI disappearing & weird champion mobs"
(i've already talked about this in the mod's comment section but i've figured that opening an issue would be better)

mod version: 1.16.5-2.0.1.8
forge version: 36.2.22
Notes: the following only happens when playing on presence of other mods.

First problem - GUI hiding away:
idk if this is intentional but when i look at a champion, the game's bars disappear (health, food, menu buttons and also th

[2022-01-20 06:27] TheIllusiveC4 commented on #104
Please fill out the bug report template properly. At the very least I need the Champions version, Forge version, and for you to verify if this issue occurs with _only_ Champions installed.

[2022-01-22 02:57] JuJuicylene commented on #104
done 👍

[2022-01-22 03:46] TheIllusiveC4 commented on #104
For the first problem, try and figure out which mod is causing the conflict. Obvious candidates would be any HUD mods or mods that change the GUI in some major way.

For the second problem, I don't think that's related to Champions. None of the terms or effects used would be caused by anything in the Champions code. If you take Champions out, do these special mobs still spawn?

[2022-01-22 17:05] JuJuicylene commented on #104
i can't pin point the exact mod that is causing the conflict for the first problem because there are many that seem to add new elements to the gui and hud, but none of them seem to add something really major, so the best i can do is list the mods im using that add stuff to it:
Origins, Too many origins, Ever potion (best candidate?), elenai dodge 2, dungeons gear.

Now for the other problem, no it

[2022-02-17 02:00] Romoslayer commented on #103
Any updates on the status of this bug?

[2022-02-21 07:11] rebarakuk opened #105 "(1.12.2) conflict with the legend of herobrine mod"
#### Versions (Be specific, do not write "latest"):
Forge Version: 14.23.5.2860
the legend of herobrine Mod Version: 0.5.4
champions mod version: 1.0.11.10

#### Observed Behavior: when monsters were fighting each other at night, it suddenly crashed

#### Expected Behavior: monsters fight each other

#### Steps to Reproduce:
1. time set to night
2. monsters fighting each other

Crash Log: Please u

[2022-02-21 11:28] TheIllusiveC4 commented on #105
This is not something I can fix in Champions. The Legend of Herobrine mod is not checking that the damage source is an instance of `EntityLivingBase` before casting it, which leads to the crash in your report.

[2022-02-21 11:28] #105 closed, assigned to TheIllusiveC4

[2022-02-22 20:47] MiniRaptor opened #106 "Russian translation"
Hi there, i created RU translation. Hope you will need it.
[ru_ru.zip](https://github.com/TheIllusiveC4/Champions/files/8120078/ru_ru.zip)

[2022-02-24 10:30] SheReyy opened #108 "Graphical glitches and OpenGL Stack Underflow error logs"
Versions:
* Champions: champions-forge-1.16.5-2.0.1.8.jar
* Forge: 36.2.21

#### Observed Behavior: At random, all the entities become invisible, including you, the player. The latest log says something about
OpenGL stack Underflow.

#### Expected Behavior: All entities should be visible, no OpenGL errors should take place.

#### Steps to Reproduce: Happens at random, most probably when a Champion

[2022-02-25 02:26] TheIllusiveC4 commented on #108
You'll have to narrow down which mod is causing this issue before I can investigate further. I suggest looking at your modlist and taking out half the list at a time to see if the issue can be isolated. To possibly make it easier, you can try taking out any that look like they add a HUD element or mess around with the GUI in some way since that's what is likely causing the issue to occur.

[2022-02-25 10:57] SheReyy commented on #108
I reported this issue just so you know about it in case someone else encounters it. I will not try to diagnose this anymore as I've already solved my issue by simply removing Champions.

[2022-03-02 02:27] Swifty744 commented on #108
I thought I was going insane but yes he's right, I'm having the same issue too. I walk up to an entity with (idk what on perks him) and I go invisible, all the mobs around me do too, I kill myself and the invisiblity stays on, I destroy a block and it's like the game is lagging, no block particles fall or anything. I have to restart a world if I want this to stop. It's a shame because this is one

[2022-03-02 03:51] TheIllusiveC4 commented on #102
Although this was reported first, I'll be closing this one in favor of this since it has more information and is likely a similar cause:
https://github.com/TheIllusiveC4/Champions/issues/108

[2022-03-02 03:51] #102 closed, assigned to TheIllusiveC4

[2022-03-02 03:55] TheIllusiveC4 commented on #104
I'm closing this in order to merge all related issues into: https://github.com/TheIllusiveC4/Champions/issues/108

At first glance it might not seem like the same issue, but I believe it is caused by the same underlying error.

[2022-03-02 03:55] #104 closed, assigned to TheIllusiveC4

[2022-03-02 03:58] TheIllusiveC4 commented on #108
After some back and forth on Discord and looking at all of the related issues dealing with graphical glitches, I strongly suspect that this issue might be caused by the Advanced Compass mod which seems to be the common thread. I was also able to reproduce some of the issues reported while having that mod installed alongside Champions (though not all of them, no entities turned invisible for exampl

[2022-03-02 03:59] TheIllusiveC4 commented on #106
Closing this as you've opened a PR for it here: https://github.com/TheIllusiveC4/Champions/pull/107

[2022-03-02 03:59] #106 closed, assigned to TheIllusiveC4

[2022-03-14 03:13] TheIllusiveC4 commented on #103
Sorry for the delay in my response. I was workshopping whether I could solve this a little more elegantly on my end without requiring any changes on your part, but that didn't really pan out.

As for the issue itself, I believe it is because you have `growthFactor = 0.3` and `growthFactor = 0.7` in your ranks configuration. The setting only supports whole numbers (so things like `growthFactor = 1`

[2022-03-14 03:13] #103 closed, assigned to TheIllusiveC4

[2022-03-17 23:05] Romoslayer commented on #103
I figured that was what was going on, thanks.

[2022-03-18 11:01] onyxromero opened #110 "[Enhancement] If a Mob is a Boss, it should either hide the default Boss Bar OR use the existing boss bar."
#### Versions (Be specific, do not write "latest"):
* Champions: 2.1.1.0
* Forge: 39.1.2

#### Observed Behavior:

Two Boss Bars for a single Boss Mob is very annoying.

#### Expected Behavior:

One Boss Bar for a Legendary Wither for Example.

[2022-03-19 09:58] #110 closed, assigned to TheIllusiveC4

[2022-03-19 19:13] BugmanBugman opened #111 "[1.18.2] Server crash startup with brutal bosses"
-->
#### Versions (Be specific, do not write "latest"):
* Champions: 2-2.1.2.0
* Forge: 40.0.19
brutal bosses: https://www.curseforge.com/minecraft/mc-mods/brutal-bosses-dungeon

#### Observed Behavior:
crash on server startup

#### Steps to Reproduce:
1. start champions on a server with brutal bosses
2. then it crashes
3.
4.
...

Crash Log: Please use a paste site like [gist](https://gist.github.

[2022-03-19 22:05] TheIllusiveC4 commented on #111
Oh, interesting. I didn't know a mod already had integration with the 1.18.x version of Champions. This is a pretty easy fix.

[2022-03-19 22:22] #111 closed, assigned to TheIllusiveC4

[2022-03-22 01:46] VanyaBaou opened #112 "Missing Translation for "death.attack.cinderBullet""
#### Versions (Be specific, do not write "latest"):
* Champions: champions-forge-1.16.5-2.0.1.9
* Forge: 1.16.5-forge-36.2.23

#### Observed Behavior:
dying to impact of Enkindling bullet
death message being unlocalized text "death.attack.cinderBullet"

#### Expected Behavior:
localized death message

#### Steps to Reproduce:
1. die to impact of enkindling projectile

[2022-04-08 06:53] VanyaBaou commented on #112
uh is the fix going to be put in 1.16 as well? didnt even know it was in 1.18

[2022-04-09 04:45] TheIllusiveC4 commented on #112
Whoops, I thought I did update 1.16 as well. Give me a moment and I'll update it.

[2022-04-09 04:46] #112 closed, assigned to TheIllusiveC4

[2022-04-11 04:18] Peach774 opened #113 "Mobs lose their stats when they transform (IE Zombie -> Drowned)"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.1.2.3
* Forge: 4.0.0.44

#### Observed Behavior:

A champion zombie trapped underwater turned into a drowned, losing its champion affixes and its drops.

#### Expected Behavior:
When a mob transforms, it should keep its attributes and affixes, either that or it should be unable to transform.

#### Steps to Reproduce:
1. Find a cham

[2022-04-16 08:41] #113 closed, assigned to TheIllusiveC4

[2022-04-25 16:21] Sunekaer opened #119 "Crash on server launch"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.18.2-2.1.5.2
* Forge: 40.1.0

https://pste.me/v1/paste/2PeO4kEuimQ/raw

[2022-04-26 04:35] #119 closed, assigned to TheIllusiveC4

[2022-05-07 22:40] MattB70 opened #120 "Stat "champions:champion_mobs_killed" cannot be referenced by another mod without issue."
#### Versions (Be specific, do not write "latest"):
* Champions: 1.18.2-2.1.5.3
* Forge: 1.18.2-40.1.0

#### Observed Behavior:
Referencing the stat "champions:champion_mobs_killed" with FTBQuests causes sever connection to close with the message "invalid player data", corrupting or otherwise destroying player data.

#### Expected Behavior:
The stat "champions:champion_mobs_killed" should act like

[2022-05-08 07:50] #120 closed, assigned to TheIllusiveC4

[2022-05-10 21:07] RAIMBOWFISH opened #121 "Champions mod causing deadlock where world stops ticking but wouldn't crash. fixed after the mod was removed"
I made my own mod pack with the following mods:
AE2 Things

AIOT Botania

Additional Additions

Advanced Chimneys

Advanced Hook Launchers

Advent of Ascension

Alex's Mobs

Amplified Nether

Apotheosis

Applied Botanics

Applied Energistics 2

Applied Mekanistics

Aquaculture 2

Architectury

Ars Nouveau

AutoRegLib

Awesome Dungeon

Awesome Dungeon End Addition

Awesome Dungeon Nether Addition

[2022-05-10 22:07] TheIllusiveC4 commented on #121
You'll have to give me either the `latest.log` or `debug.log` file from the time that it deadlocked, otherwise I have no information about what could've caused it.

Also, please list out your Champions and Forge version numbers at the very least.

[2022-05-11 10:27] Reshy opened #122 "Crash on creating a new world."
#### Versions (Be specific, do not write "latest"):
* Champions:  champions-forge-1.18.2-2.1.5.4.jar
* Forge:  40.1.15

#### Observed Behavior:
Game crashed upon creating a new world.

#### Expected Behavior:
Game shouldn't crash upon creating a new world.

#### Steps to Reproduce:
Attempting to create a world.

Crash Log: https://pastebin.com/gLDwFrnV

[2022-05-11 18:26] TheIllusiveC4 commented on #122
Did you change the ranks config at all? Can you share your `champions-ranks.toml` file from your `serverconfig` folder?

[2022-05-13 02:39] Reshy commented on #122
[[ranks]]
  tier = 0
  numAffixes = 0
  defaultColor = 0xffffff
  chance = 1.0
  growthFactor = 0
  effects = []
  presetAffixes = []
[[ranks]]
  tier = 1
  numAffixes = 1
  defaultColor = 0xffff00
  chance = 0.05
  growthFactor = 1
  effects = []
  presetAffixes = []
[[ranks]]
  tier = 2
  numAffixes = 2
  defaultColor = 0xff9900
  chance = 0.2
  growthFactor = 4
  effects = []
  presetAffixes =

[2022-05-19 18:56] zGh0stY commented on #121
It's caused by Scaling Health, had the same issue and removed the mods one by one

[2022-05-22 10:45] Kasia1403 opened #123 "Question"
Is it from Your mod ?

![2022-05-08_20 06 09](https://user-images.githubusercontent.com/54236098/169691378-9978b02d-d4d7-447d-b494-c28e699d37b4.png)

This structure spawner spawns unlimited number of mobs adnd lags game very fast. I don't like this, but I don't know from which mod it is and how to disable it.

[2022-05-22 22:09] TheIllusiveC4 commented on #123
No, Champions has no world generation features.

[2022-05-22 22:09] #123 closed

[2022-05-26 19:37] SergGrey commented on #121
Hello, I faced the same problem.
champions-forge-1.18.2-2.1.5.4.jar
Forge - 40.1.20
[debug.log](https://github.com/TheIllusiveC4/Champions/files/8781618/debug.log)
[latest.log](https://github.com/TheIllusiveC4/Champions/files/8781620/latest.log)
[crash-2022-05-26_19.34.18-server.txt](https://github.com/TheIllusiveC4/Champions/files/8786457/crash-2022-05-26_19.34.18-server.txt)

[2022-05-28 21:52] lcy0x1 opened #124 "[Bug] Compatibility Support for ScalingHealth Cause Server Thread Dead Lock"
Champions: 2.1.5.4
ScalingHealth: 6.2.1+4
Forge: 40.1.25

note: ScalingHealth itself has a bug that if it loads before forge, it cause the entire game to dead lock. It can be fixed by requiring it be loaded after forge

Stack Trace:
When creating a new world, calling `LivingEntity::getOnPos` on initial spawn will cause server dead lock

[2022-06-13 11:02] #121 closed, assigned to TheIllusiveC4

[2022-06-13 11:02] #122 closed, assigned to TheIllusiveC4

[2022-06-13 11:02] #124 closed, assigned to TheIllusiveC4

[2022-06-19 21:10] lcy0x1 opened #125 "Double drops from Global Loot Modifier if using loot table for champion drops"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.18.2-2.1.5.4
* Forge: 40.1.51

#### Observed Behavior:
Global Loot Modifier drops 1 set of item

#### Expected Behavior:
Global Loot Midifider drop is duplicated

#### Steps to Reproduce:
1. Add a Global Loot Modifier
2. Kill a champion mob
...

#### Code Inspection
This is because in `ChampionEventsHandler`, it fetches the items t

[2022-06-20 09:32] #125 closed, assigned to TheIllusiveC4

[2022-07-09 11:14] NighthowlerStudios opened #126 "[1.16.5] Rare concurrent modification exception crash loading defaultconfigs on server about to start"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.0.1.13
* Forge: 36.2.34

#### Observed Behavior:
Sincerest apologies ahead of time as this crash is extremely rare due to my hardware, but I was not able to get it to reproduce at all, with and without all the unnecessary mods.

Randomly I had found this concurrent modification exception thanks to forge's night config whilst champi

[2022-07-20 15:23] Hakoyu opened #128 "Dropping the loot of the monster itself"
I edited the lootDrops for each level in the champions-server
But the champions only drop the set loot, not the loot from the monster vanilla.

e.g: champions creeper does not drop gunpowder, and slime does not drop slime balls.

This is bad, especially when used with other monster mods

[2022-07-20 15:32] #128 closed, assigned to nobody

[2022-07-21 09:32] java-jambalaya opened #129 "[1.18.2] Champions HUD stops updating after the player dies"
#### Versions:
* Champions: 2.1.5.6 (champions-forge-1.18.2-2.1.5.6.jar)
* Forge: 40.1.68

#### Observed Behavior:
Upon the player dying, the champions HUD stops updating for all champions currently rendered for that player.
Their health bar stops showing their actual health value, and instead shows the amount from the time at which the player had died.
The champion can still be killed in this sta

[2022-07-21 09:52] java-jambalaya commented on #129
Additionally, the effects from champions in this state (such as ones with the 'plagued' affix) will also remain in the location/state they were in when the player died. In the case of 'plagued', a poison cloud is left where the champion was when the player died, however this cloud does nothing, and the functional poison cloud is invisible and still around that champion.

[2022-07-21 09:54] java-jambalaya commented on #129
Furthermore, the particle effects and HUD of champions in this state will become **completely unrendered** if the player pauses the game for a time (I found 10 seconds to be enough to replicate), and they will only show again if the player relogs or respawns, however this still does not cause the health bar to update and show the correct value.

[2022-07-24 23:09] TheIllusiveC4 commented on #129
Are you able to reproduce this with _just_ Champions installed?

[2022-07-25 15:08] java-jambalaya commented on #129
Yes, I can reproduce this on a 1.18.2 profile with forge-40.1.68, and the only mod installed being champions-forge-1.18.2-2.1.5.6.jar.
I've kept all settings and configs as default too in case they could've been the cause.

[2022-08-02 16:33] PCamille opened #130 "[1.18.2] Champion mobs spawn near beacons"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.1.5.6
* Forge: 40.1.67

#### Observed Behavior:
Champion mobs spawn near an active beacon.

#### Expected Behavior:
Beacon should disables champion spawn in a range defined in the config (here 64).

#### Steps to Reproduce:
1. Place a beacon.
2. Use monster eggs (or make mobs spawn near the beacon (ex: trigger a raid)).

Crash Log:

[2022-08-11 16:12] java-jambalaya commented on #129
Hi, just in case this has been forgotten or is difficult to replicate, here's exactly what I did to get this to happen using **just** the Champions mod (1.18.2-2.1.5.6.jar) and Forge 40.1.73, with no other mods installed:

- Create new world (creative mode, cheats on, normal difficulty)
- Dig a 2 deep hole, go in it, and run `/champions summon minecraft:husk 1 arctic`
- Punch it, noticing its heal

[2022-08-11 21:33] TheIllusiveC4 commented on #129
Don't worry, I haven't forgotten and I won't forget as long as this issue remains open. I just haven't had time to fix this quite yet. I have replicated it though and I know what the issue is, the fix is just going to be a little tricky.

[2022-08-18 13:04] tharrmeehan opened #131 "[1.18.2] Crash with the latest Scaling Health"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-forge-1.18.2-2.1.5.6
* Forge: 40.1.73

#### Observed Behavior:
Create a new world with the scaling mod and its library installed, world loading freezes at around 80%. Freeze due to a "NoSuchMethod" error, might be a change from scaling health?

#### Expected Behavior:
No freezing, no crashing.

#### Steps to Reproduce:
1. D

[2022-08-19 22:18] DoctorMage opened #132 "[Feature Request] Affix combo blacklist"
Allow a blacklist of affix combos as depending on what affixes a mob has it becomes way to tedious to fight

[2022-08-20 16:31] VanyaBaou opened #133 "[1.16.5] Reflective's DamageSource is the Player attacking"
https://github.com/TheIllusiveC4/Champions/blob/1.16.x/src/main/java/top/theillusivec4/champions/common/affix/ReflectiveAffix.java#L47

Setting the attacker for the DamageSource causes a lot of issues with the damage being dealt

The Player can boost the damage being dealt (to themselves) **again** because some enchants or items wont check things like it being "reflective" or the source of damage

[2022-08-20 17:57] TheIllusiveC4 commented on #133
I'll have to think about this, because I want to keep the source of the damage as the player since that's what's actually happening. The mob isn't really attacking the player, the mod itself is just replicating the player's attack and using it on them. Just in theory, the attack _should_ state the player as the source and never the mob.

However, I understand the issues that you've outlined with t

[2022-08-23 18:59] VanyaBaou commented on #133
I don't really see any way to make it function fine with other mod's damage calculations with _those_ mods modifying their code, since many just check "is it LivingEntity? yes. does it have Enchant? yes. do calculation" basically none check for "is DamageSource the Victim of the Attack?"

Some examples:

[Slicer's Dice](https://github.com/Lykrast/MeetYourFight/blob/1.16.5/src/main/java/lykrast/mee

[2022-08-24 16:18] Deathawaits4 opened #134 "Please change getOrigianalExperience to getDroppedExperience in LivingExperienceDropEvent"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.1.5.6
* Forge: 40.68

#### Observed Behavior: When using other mods that change the experience dropped by creatures, your mod does not stack with them. One example is Auto_leveling(this mod also uses getOriginalExperience instead of getDroppedExperience), A leveled Champion will only ever drop the original amount of experience no m

[2022-08-25 04:01] TheIllusiveC4 commented on #133
Since these calculations occur inside events, I was briefly considering a way to replicate the initial damage calculations _without_ firing the events a second time or perhaps even overriding the damage calculations on the second pass.

However, looking at those examples, that's clearly not a feasible route and there would be too many side-effects to take into consideration. So I'm just going to a

[2022-08-25 19:11] Saereth opened #135 "[1.18.2] Feature Request: Gamestage support"
Is game stage support for 1.18.2 planned at some point, or would you possibly accept a PR for it? I'd love to include the mod in one of our upcoming ftb packs, but currently players are getting spanked hard if a legendary or epic tier mob spawns, so being able to stage that is pretty important, especially for a hardcore optional pack.

[2022-08-26 07:38] Raidobw2 commented on #135
Facing a similar issue with https://github.com/FTBTeam/FTB-Modpack-Issues/issues/1188, this would be a good feature to have built in I agree! :o

[2022-08-26 10:56] TheIllusiveC4 commented on #135
I'm planning to add this and some additional features to help gate progression in the next Champions update.

[2022-09-06 22:49] Ravinhurst commented on #108
I just wanted to add to this after having this same problem while playing the Fantasy Realm modpack.  You are definitely right TheIllusiveC4, this only happens when both Champions and Advanced Compass are installed together.  They don't seem to cooperate well.  For my case, it caused all entities (mobs, beds, chests, enchanting table book, etc) to completely disappear.  The mobs themselves could b

[2022-09-07 08:51] TheIllusiveC4 commented on #108
If you are indeed experiencing an issue with Advanced Compass and Champions, try going into the configuration file Advanced Compass (`advancedcompass-client.toml`) and setting `moveBossbar = false`.

[2022-09-26 01:06] nekomaster1000 opened #136 "Champions Critique - Clarity, Balance, and Addition Requests"
# Hi!
In this post, I'm going to be explaining what I believe to be some weaknesses in the clarity and balance of the Champions mod that I've experienced after having played and created modpacks with it, and how I feel they could be improved. I will be doing my best to provide constructive criticism and suggestions for improvements as I go.
# Clarity
## Visual Information - Icons
One of Minecraft'

[2022-09-26 01:20] falconfruitpunch1 commented on #136
true..

[2022-09-26 01:21] falconfruitpunch1 commented on #136
ive found that much of what you suggest as changes to affixes is configurable, i'm not sure if ReSurvival has this or not but an auto worldconfig loader could be added to balance the mod

[2022-09-26 02:06] nekomaster1000 commented on #136
Desecration, Plague and Hasty can all be configured in the ways I described, yes, but the others can't. For those, take them as suggestions for altering the default values in future updates.

I do use Openloader to automatically load and apply datapack alterations, but those aren't really within the scope of many of the changes I'm proposing here.

[2022-09-26 02:10] falconfruitpunch1 commented on #136
fair, just letting you know for the pack in the meantime

[2022-09-26 03:15] Pikcher19 commented on #136
that sounds pretty constructive

[2022-09-26 05:07] TheIllusiveC4 commented on #136
A very thoughtful and constructive critique, thank you for taking the time to write this all up. I will outline some of my thoughts about each section, but just know that these are general impressions and not any sort of final decision about what I will or won't change.

# Clarity
## Visual information - Icons
Having icons on the screen through particles or an overhead indicator is an interesting

[2022-09-26 06:51] nekomaster1000 commented on #136
# Thank  YOU!
... For  taking  the  time  to  respond  to  it  point-by-point,  I  really  appreciate  you  hearing  me  out!  I  will,  in-kind,  respond  to  comments  that  I  have  further  suggestions  or  thoughts  on  myself.  Please  do  reply  again  if  you  could  on  anything  you  think  is  worth  continuing  discussing!  I  think  the  next  major  Champions  version  could  be  rea

[2022-09-26 09:35] TheIllusiveC4 commented on #136
This is true enough, compromises have to be made at some point since the mod theoretically allows an unlimited number of affixes. I probably prefer cycling over cutting off at a certain number, but I don't know, I'll have to think on that.

Some visual effects sounds like a good idea, if I don't decide to change it to a projectile.

Yeah, I was considering a weaker knockback. But this is something

[2022-10-08 11:52] #134 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #129 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #130 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #131 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #133 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #126 closed, assigned to TheIllusiveC4

[2022-10-08 11:52] #135 closed, assigned to TheIllusiveC4

[2022-10-08 11:57] #65 closed, assigned to TheIllusiveC4

[2022-10-08 11:58] #86 closed, assigned to TheIllusiveC4

[2022-10-08 11:59] #90 closed, assigned to nobody

[2022-10-08 12:01] TheIllusiveC4 commented on #108
I'll be closing this as, based on all the reports I've received, I do believe all of the graphical glitches are related to the Advanced Compass incompatibility and this will need to be fixed on their end. In the meantime, the workaround I mentioned above will allow users to use both mods without errors.

[2022-10-08 12:01] #108 closed, assigned to TheIllusiveC4

[2022-10-10 01:06] Raidobw2 commented on #135
Thank you very much for this feature! :)

[2022-10-10 20:48] Saereth opened #137 "Information Request"
#### Versions (Be specific, do not write "latest"):
* Champions: champions-forge-1.18.2-2.1.6.0.jar
* Forge: 40.1.80

with the addition of game staging how does it work if I have a mob that is set to always be a tier 2 but I have a gamestage set for t2 and the player doesnt have the stage? Will my config setting override the gamestage or will the gamestage override the mob setting

[2022-10-10 21:28] TheIllusiveC4 commented on #137
Well, currently, what would happen is that your config setting will override the game stage. That mob will still be able to spawn as a tier 2 because that's what it will always be.

But, thinking about it, I wonder if that's right? In this situation, should the mob instead spawn as no champion if the player doesn't have the stage for its minimum tier?

[2022-10-10 21:31] Saereth commented on #137
I think from a packdev standpoint if we always want a certain mob to be a champion so much that we go out of our way to set it in the config it should probably take precedent over the tiered game stage which is more generalized so it sounds like the current implementation is the way I'd hope for it to work.

[2022-10-10 21:39] TheIllusiveC4 commented on #137
Okay, that seems fair. I'll leave the implementation as it is then.

[2022-10-10 21:39] #137 closed, assigned to TheIllusiveC4

[2022-10-19 15:03] MasterSloth1 opened #138 "[1.16.5] /summon entities dont get all stats from ranks config"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.16.5-2.0.1.14
* Forge: 36.2.39

#### Observed Behavior:
when I use the `/champions summon zombie 5` command it will summon a zombie with rank 5 and all the stats I have entered in my champions-ranks.toml file.
but when I use `/summon zombie ~ ~ ~ {ForgeCaps:{"champions:champion":{tier:5}}}` command it will summon a tier 5 zombie wi

[2022-10-25 16:17] Saereth commented on #79
You can already do this. Set champions to use a loot table, grab the data/champions/loot_tables/champion_loot.json and override that with a datapack, you can then include any arbitrary amount of other loot tables as nested loot table pools within those files. I'm doing this currently in FTB Inferno so if you need an example you can grab that from the ftb app and see how to do it.

Adding to the ad

[2022-10-25 17:14] Saereth opened #139 "[1.18] Champions completely ignoring predefined affixes"
* Champions: champions-forge-1.18.2-2.1.6.0
* Forge: 40.1.80

#### Observed Behavior:
Define affixes for mobs, summon mobs and they are getting random affixes instead

#### Expected Behavior:
For the mobs to have the predefined affixes

#### Steps to Reproduce:
1. Setup affixes for the mobs, save in defaultconfigs and move to save/world/serverconfigs/champions-entites.toml
2. summon mobs in game
3

[2022-10-25 22:19] Thombias opened #140 "[1.18.2-2.1.6.0] Generating chunks lags the server / causes tps loss compared to v2.1.5.6"
#### Versions (Be specific, do not write "latest"):
* Champions: 2.1.6.0
* Forge: 40.1.84

#### Observed Behavior:
I noticed that chunk generation was really slow, so i checked the tps graph in the debug menu and it was all over the place. By using the mod Spark (a performance profiler) to check what was causing this it showed me that Champions eats about 2.29% of my server perfomance for not much

[2022-10-25 22:34] TheIllusiveC4 commented on #139
Can you lowercase all of the affixes instead? So "hasty" instead of "Hasty". I should probably make that case-insensitive, but I just need to verify if that's the issue first.

[2022-10-25 22:43] Saereth commented on #139
Sure thing I'll be able to test this in about an hour

On Tue, Oct 25, 2022, 3:34 PM C4 ***@***.***> wrote:

[2022-10-25 22:46] TheIllusiveC4 commented on #140
I do have a suspect on what's causing this, but are you able to attach the Spark profile report itself so I can peruse it myself and verify?

[2022-10-26 00:02] Thombias commented on #140
I actually went ahead and did another test just to be doubly sure but this time i was only running champions + spark and nothing else. The issue is definitely reproducable from what i was able to gather. Here are the links to my spark profiles, i hope they work for you:
v2.1.6.0: https://spark.lucko.me/tDpSGcTjL6
v2.1.5.6: https://spark.lucko.me/SZZadh9lpx

At first glance they may look similar bu

[2022-10-26 00:22] TheIllusiveC4 commented on #140
Okay, yeah, it was what I was suspecting. I'm honestly not sure how I'll address this because it's a tricky problem, but I'll see what I can do since it is a valid performance concern.

[2022-10-26 01:29] Saereth commented on #139
yep that was the issue, making them all lower case seems to have sorted it, thanks!

[2022-10-26 01:29] #139 closed, assigned to nobody

[2022-10-26 02:30] TheIllusiveC4 commented on #138
Champions doesn't inject any special logic into the `/summon` command, so none of the normal checks would occur. The way that you've written the command only works with the tier because you're forcefully injecting that data into the entity's NBT tag.

The question I have now is what are you trying to do? The `/champions` command that you've mentioned is functionally identical to using the `/summon

[2022-10-26 03:13] TheIllusiveC4 commented on #140
Can you try this test build and report back to me if the performance increases?

[champions-forge-1.18.2-2.1.6.1-snapshot.20221025.zip](https://github.com/TheIllusiveC4/Champions/files/9865677/champions-forge-1.18.2-2.1.6.1-snapshot.20221025.zip)

[2022-10-26 09:09] MasterSloth1 commented on #138
so we have a mod that summons entities, we can change all the nbt tags of the entity. I want to spawn a specific mob and make it a champions mob, but i want 2 specific champions affixs and 2 randomly generated affixs
[code]

[2022-10-26 11:18] Thombias commented on #140
I checked it out just now and can confirm it's fixed with the snapshot! Server usage from Champions dropped all the way down to just 0.05% compared to the 2.50% i had before with v2.1.6.0. Chunk generation was also able to keep up with me flying around in creative mode perfectly fine whereas with the other version i had to stop moving very often for it to catch up.

Here's the spark profile from m

[2022-10-26 20:54] Saereth opened #141 "Forge does not support multiple server configs for updating packs"
Running into an issue that effects pack updates pretty badly. Most changes get ignored now by the serverconfigupdater mod. I opened an issue with them regarding this but they said forge only supports a single config file so at present there is no way to automatically update packs with those changes. Would you consider consolidating the server configs or do you know of a work around? I know it's a

[2022-10-26 21:18] TheIllusiveC4 commented on #141
Consolidating the server configs into a single file is not really practical for many reasons. And I don't believe it's the ideal solution, ultimately I think Forge should be able to accommodate multiple config files.

For a work around, I might be able to just code support for ServerConfig Updater on my end. I'll have to look into it to see if it's feasible to do.

[2022-10-26 21:19] Saereth commented on #141
Sounds fair, and yeah hopefully forge can support it in the future.. much appreciated for any solution you can come up with though. thanks for looking into it

[2022-10-27 03:21] TheIllusiveC4 commented on #140
Great, these changes will be included in the next build which I will release once I've finalized one new feature I'm adding.

[2022-10-28 20:38] TheIllusiveC4 commented on #141
This has been addressed by the developer of ServerConfigUpdater so I'll close this issue.

[2022-10-28 20:38] #141 closed, assigned to TheIllusiveC4

[2022-10-30 04:23] klugemonkey opened #142 "Concurrent Modification Crash"
* Champions:  2.1.6.0
* Forge: 40.1.80

#### Observed Behavior:

Server thread/ERROR and crash resulting from Concurrent Modification in ChampionHelper.java:61

#### Expected Behavior:

No Crash, iterating properly over the ticking entities without concurrent modification

#### Steps to Reproduce:

Unknown; while playing FTB Inferno, dropping down into a bastion near a ghast.

Crash Log: Please us

[2022-11-01 08:33] BlackAures1 commented on #140
I confirm that there are indeed problems with this
https://spark.lucko.me/idHoSGw0Gl
![image](https://user-images.githubusercontent.com/43911230/199192249-21592e84-370b-40b7-b876-ffd07ab23a76.png)

Version - champions-forge-1.18.2-2.1.6.0

[2022-11-03 06:11] #140 closed, assigned to TheIllusiveC4

[2022-11-03 06:12] TheIllusiveC4 commented on #142
This should be resolved in 1.18.2-2.1.6.1.

[2022-11-03 06:12] #142 closed, assigned to TheIllusiveC4

[2022-11-03 06:30] TheIllusiveC4 commented on #138
1.16.5-2.0.1.15 now supports NBT summoning. Read the full documentation [here](https://docs.illusivesoulworks.com/1.18.x/champions/nbt). Note that the documentation site is a WIP and only the 1.18.x version is available, but the information is still accurate for the 1.16.5 update.

[2022-11-03 06:30] #138 closed, assigned to TheIllusiveC4

[2022-11-03 06:34] TheIllusiveC4 commented on #51
This is now possible as of the latest 1.16.5 and 1.18.2 updates. Due to various reasons, summoning with NBT and Champions requires using the regular `/summon` command in conjunction with special NBT tags to denote champion stats like rank and affixes. Please see the full documentation [here](https://docs.illusivesoulworks.com/1.18.x/champions/nbt) for details.

[2022-11-03 06:34] #51 closed, assigned to TheIllusiveC4

[2022-11-03 06:42] MasterSloth1 commented on #138
OMG your amazing thank you so much

[2022-11-18 20:20] justawander opened #143 "champions keep crashing whenever i try loading a world"
* Champions: 1.18.2-2.1.6.0
* Forge: 1.18.2-40.1.84

https://bytebin.lucko.me/ZYRpoL0PfW

[2022-11-19 03:57] TheIllusiveC4 commented on #143
Please update your Champions version to 2.1.6.1 and test again, then let me know if the issue still occurs.

[2022-11-23 08:01] MattB70 opened #144 "Champions, Beacon, Megatorch Server crash"
#### Versions (Be specific, do not write "latest"):
* Champions: 1.18.2-2.1.6.1
* Forge: 40.1.84

#### Observed Behavior:
A mod attempting to spawn as a champion whist in the radius of both a beacon and a Torchmaster Megatorch results in a server crash due to watchdog timeout.

#### Expected Behavior:
No mob should attempt to spawn whist in the range of a Megatorch, though this is usually not an i

[2022-11-23 10:10] TheIllusiveC4 commented on #144
You state in the issue report that you have version 2.1.6.1, but your crash report shows you actually have 2.1.6.0 loaded. Please update the mod on your server and this crash should be fixed.

[2022-11-23 18:31] loihangoc commented on #128
HI, how did you resolve this? @Hakoyu